.form_wrap .label_mod
/* old css */
#c2_information{
    display:none;
}
.row.button_section_div {
    padding: 13px 30px !important;
}

.active-class , no-class{
    display:block !important;
}
.inactive-class{
    display:none ;
}
.borrower_document_lists li{
    list-style: none;
    padding: 5px;
    font-size: 14px;
}
.page-head{
    border-bottom:1px solid #eee;
    border-bottom:1px solid #eee;
}
#uniform-primary_contact1{
    width: 20px !important;
}
.borrower_data_row{
    padding: 11px 0px !important;
}
div#bordered_div_section{
    margin:0 !important;
}
.bs-searchbox {
    width: 100% !important;
}
table td, th{
    border : none !important;
}
.borrower_data_row>h4 {
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;

}
.row.borrower_data_row label {
    
    font-weight: 600 !important;
}
.main_left_div{
    float:left;
    width:70%;
    border-right:1px solid #eee;
}
.main_right_div{
    float:right;
    width:30%;
    margin-top:60px;

}
.border-top h4{
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;
    padding-left: 15px !important;
}
div.lender_information_div
{
    border-top:none;
}
label {
    font-weight: 600 !important;
}
.doc-div{
    margin-bottom: 15px;
}
/* end old css */

/* lender form css */
.lender_acoout_form .f1-buttons button.btn {
  min-width: 105px;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.lender_acoout_form .f1-buttons button.btn:first-child {
  margin-right: 5px;
}

.lender_acoout_form .f1-buttons button.btn:hover {
  opacity: 0.9;
  color: #fff;
}
.lender_acoout_form .f1-buttons button.btn:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.lender_acoout_form .f1-buttons button.btn:focus,
.lender_acoout_form .f1-buttons button.btn:active:focus,
.lender_acoout_form .f1-buttons button.btn.active:focus {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.lender_acoout_form .f1-buttons .btn-next,
.lender_acoout_form .f1-buttons .btn-next:focus,
.lender_acoout_form .f1-buttons .btn-next:active:focus,
.lender_acoout_form .f1-buttons .btn-next.active:focus {
  background: #103a60;
}

.lender_acoout_form .f1-buttons .btn-submit,
.lender_acoout_form .f1-buttons .btn-submit:focus,
.lender_acoout_form .f1-buttons .btn-submit:active:focus,
.lender_acoout_form .f1-buttons .btn-submit.active:focus {
  background: #f35b3f;
}

.lender_acoout_form .f1-buttons .btn-previous,
.lender_acoout_form .f1-buttons .btn-previous:focus,
.f1-buttons button .btn.btn-previous:active:focus,
.lender_acoout_form .f1-buttons .btn-previous.active:focus {
  background: #dd553e;
  margin-right: 5px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
img {
  max-width: 100%;
}
.lender_acoout_form {
    min-height: calc(100vh - 224px);
}
.lender_acoout_form .input_mod{
    height: 50px;
    border-color: #e8e7e7;
    box-shadow: inherit;
    color: #000;
}
.form_wrap {
    border: 1px solid #eae9e9;
    border-radius: 10px;
    padding: 25px 15px;
}
.form_wrap .card_head {
    border-bottom: 1px solid #eae9e9;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.frm_h4_title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.form_wrap .label_mod {
    font-weight: 500 !important;
    color: #000;
}
.mailing_add_wrap {
    margin-top: 30px;
}
/* radios css */
.cst_radio_btn {
    margin-top: 6px;
}
.cst_radio_btn .radio_title {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400 !important;
      width: 49%;
}
.cst_radio_btn .radio_title input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.cst_radio_btn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #a1a1a1;
}
.cst_radio_btn .radio_title input:checked ~ .checkmark {
  background-color: #fff;
  border-color:#dd553e;
}
.cst_radio_btn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.cst_radio_btn .radio_title input:checked ~ .checkmark:after {
  display: block;
}
.cst_radio_btn .radio_title .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dd553e;
}

/* checkbox css */
.checkboxYgap {
    margin-bottom: 22px;
    margin-top: 15px;
}
.checkCont {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400 !important;
}
.checkCont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkCont input:checked ~ .themeCheckmark {
    background-color: #dd553e;
    border-color: #dd553e;
}
.themeCheckmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    transition: all .4s ease-in-out;
}
.checkCont input:checked ~ .themeCheckmark:after {
    display: block;
}
.checkCont .themeCheckmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkCont input:checked ~ .themeCheckmark:after {
    display: block;
}
.themeCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
/***** Top content *****/
.text_danger{
  color: #dd553e;
}
.lender_acoout_form .form-box {
  padding-top: 30px;
}
.lender_acoout_form .form_title{
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0;
}
.lender_acoout_form .f1 {
  padding: 15px 0;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.lender_acoout_form .f1-steps {
  overflow: visible;
  position: relative;
  width:100%;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.lender_acoout_form .f1-progress {
    position: absolute;
    top: 12px;
    left: 0px;
    width:100%;
    height: 1px;
    background: #a0a0a0;
}
.lender_acoout_form .f1-progress-line {
  position: absolute;
  top: 0;
  left:5px;
  height: 1px;
  background: #103a60;
  z-index: 99;
}

.lender_acoout_form .f1-step {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 0;
  text-align: left;
}

.lender_acoout_form .f1-step-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  background: #a0a0a0;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0.4px 0px 4px rgb(160 160 160 / 50%);
  z-index: 99;
}
.lender_acoout_form .f1-step.activated .f1-step-icon {
  background: #fff;
  border: 1px solid #103a60;
  line-height: 38px;
  box-shadow: none;
}
.lender_acoout_form .f1-step.active .f1-step-icon {
  width: 20px;
  height: 20px;
  margin-top: 0;
  background: #103a60;
  font-size: 22px;
  line-height: 48px;
  box-shadow: 0px 0.4px 0px 4px rgb(16 58 96 / 50%);
}
.lender_acoout_form .f1-step p {
  color: #ccc;
}
.lender_acoout_form .f1-step.activated p {
  color: #f35b3f;
}
.lender_acoout_form .f1-step.active p {
  color: #f35b3f;
}

.lender_acoout_form .f1 fieldset {
  display: none;
  text-align: left;
  margin-top: 35px;
}

.lender_acoout_form .f1-buttons {
  text-align: right;
  padding: 15px 15px 0;
}

.lender_acoout_form .f1 .input-error {
  border-color: #f35b3f;
}
.lender_acoout_form .f1-step:last-child {
    width: auto;
}
.input_mod::placeholder{
  color:#000 !important;
}
.font_bold{
  font-weight: 600;
}
.int_info {
    margin-left: 10px;
    display: inline-block;
}
/* form success */
.success_from_blc{
    border: 1px solid #eae9e9;
    border-radius: 10px;
    padding: 25px 15px;
    text-align: center;
}
.success_from_blc .cst_para{
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
}
.msg_inner_cont {
    max-width: 1000px;
    margin: 0 auto;
}
.msg_inner_cont .cst_para span {
    color: #dd553e;
}
.mb-0{
  margin-bottom: 0;
}
.primary_btn, .secondary_btn{
    min-width: 105px;
    padding: 8px 20px;
    vertical-align: middle;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    display: inline-block;
    text-align: center;
}
.primary_btn{
    background-color: #103a60 !important;
}
.secondary_btn{
   background-color: #dd553e !important;
}

.primary_btn, .secondary_btn:hover, .primary_btn, .secondary_btn:focus{
    opacity: 0.9;
    color: #fff !important;
}
.add_btn_blc {
    margin-top: 32px;
    display: block;
    min-height: 50px;
    vertical-align: middle;
    text-align: left;
}
/* add new modal */
.add_new_modal .modal-header {
    padding: 15px 30px;
}
.add_new_modal .modal-title {
    font-size: 20px;
}
.add_new_modal .modal-header .close {
    margin-top: 2px;
    font-size: 24px;
    opacity: .3;
}
.add_new_modal .modal-body {
    padding: 20px 15px;
}
.modal_btn_blc {
    padding: 0 30px 15px;
}
.add_new_modal .btn_blc {
    text-align: right;
}
/* table css*/
.table_wrap {
    margin-top: 20px;
}
.cst_table thead tr{
    background: #f5f5f5;
}
.cst_table>tbody>tr>td, .cst_table>tbody>tr>th, .cst_table>tfoot>tr>td, .cst_table>tfoot>tr>th, .cst_table>thead>tr>td, .cst_table>thead>tr>th {
    padding: 15px;
    vertical-align: middle;
}
.remove_btn_blc {
    text-align: right;
    margin-bottom: 10px;
}
.mr-0{
  margin-right: 0 !important;
}

/* datepicker css */
.datepicker-days .table-condensed thead tr {
     border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
    position: relative;
    padding: .2em 0;
    font-size: 14px;
}
.datepicker.dropdown-menu th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    background: transparent;
    border-radius: 0;
}
.datepicker.dropdown-menu {
    color: #333;
    font-size: 14px;
    padding: .2em .2em .6em;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}
.datepicker table {
    width: 294px;
    height: 380px;
}
.datepicker-days .table-condensed thead tr th:first-child {
    display: block;
}
.datepicker-days .table-condensed thead tr:first-child {
    height: 40px;
}
.datepicker-days .table-condensed thead tr:last-child {
    background: transparent;
    height: 40px;
    border: none;
}
.datepicker-days .table-condensed thead tr th:first-child {
    display: revert;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    background: transparent;
    color: #333;
}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td {
    padding: 10px 5px;
    text-align: center;
}
.datepicker.dropdown-menu tbody tr td {
    border: 1px solid #c5c5c5 !important;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    padding: .6em;
    text-align: center;
    text-decoration: none;
}
.datepicker table tr td, .datepicker table tr th {
    width: 25px;
    height: 25px;
    border-radius: 0;
}
.datepicker table {
    width: 282px;
    height: 250px;
}

/* page body cont css */
#main-content-template {
    min-height: calc(100vh - 220px);
}
/* end page body cont css */

/***** Media queries *****/
@media (max-width: 1440px){
.form_wrap {
    padding: 25px 8px;
}
.int_info {
    margin-left: 4px;
    font-size: 14px;
}
.lender_acoout_form .form-box {
    padding-top: 30px;
    padding: 30px 6px 0;
}
}
@media (max-width: 1280px){
.int_info {
    margin-left: 0;
}
}

@media (max-width: 1199px){
  .md_clear_both{
     clear: both;
  }
}
@media (max-width: 991px){
  .lender_acoout_form .f1-buttons {
    text-align: center;
    padding: 15px 0 0;
  }
  .add_new_modal .btn_blc {
    text-align: center;
 }
}
@media (max-width: 575px){
.form_wrap {
    padding: 20px 2px;
}
.frm_h4_title {
    font-size: 16px;
}
.lender_acoout_form .form_title {
    font-size: 20px;
    line-height: 28px;
}
}
@media (max-width: 480px) {
.add_btn_blc {
    text-align: center;
}
}
@media (max-width: 415px) {
  .f1 {
    padding-bottom: 20px;
  }
  .f1-buttons button {
    margin-bottom: 5px;
  }
}
