div#model_left_align {
    margin-bottom: -12px;
    margin-top: -20px;
}
#c2_information{
    display:none;
}
.border-top h4{
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;
    padding-left: 15px !important;
}
.view_inputs{
    font-size:14px !important;
}
div#page-invester-view .row.button_section_div {
    padding: 0px 180px;
}
div.lender_information_div
{
    border-top:none;
}
label {
    font-weight: 600 !important;
}
table.mortgageFundAccounts {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10px;
}
.main_left_div{
    float:left;
    width:70%;
    border-right:1px solid #eee;
}
.main_right_div{
    float:right;
    width:30%;
    margin-top:65px;

}
.page-head {
    border-bottom: 1px solid #eee;

}

h4{
    width:100% !important;
}

.row.top {
    margin: 12px 0px 0px;
}
.row{
    padding: 11px 0px !important;
}.doc-div{
    margin-bottom: 15px;
}
.row>h4 {
    font-family:sans-serif;
}
table td, th{
    border : none !important;
}
.row.table-borrower table {
    margin-left: 15px !important;
}

.col-md-6.ds {
    margin-left: 15px!important;
}

a.btn.btn-danger.borrower_save_button{

    float: right !important;
    border-radius: 0px;
    margin-top: 3px;
}

.table-scrollable{
    border: 0px !important;
    margin-top: -30px !important;
}
.row.h4 {
    font-family: sans-serif;
}
.border-top h4 {
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;
    padding-left: 15px !important;
}
