.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-top: 20px;
  }
  .alert_success {
    padding: 20px;
    background-color:green;
    color: white;
    margin-top: 20px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  .col-md-5 {
      width: 50.666667% !important;
  }
  .col-md-3 {
    width: 33%;
}
  .col-md-6 {
    width: 49%;
}
