.mail_popup_body div {
    margin-bottom: 10px;
}
div#mailviewModal button.close {
    position: absolute;
    top: 16px;
    right: 14px;
}

div#mailviewModal h3#exampleModalLabel {
    font-size: 18px;
}

.open_tab{
    background: #f2f6f9;
    color: #5b9bd1;
}
li.open_tab.open{
    background:#FFFFFF;
}
span.sub_title_mail_auto {
    font-size: 24px;
}