div#success {
	margin : 0px 15px 8px 0px;
    color: #009688;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    background: rgba(139, 195, 74, 0.48);
}



@media (max-width: 570px) {
 .checker {
    float: left !important;
    width: auto !important;
}
div.image_main_section{
	width:95%;
}

div.image_main_section div{
	width:100%;
	margin:0px;
	padding:2px;
}
.first_block_content .first_block.first
{
  border: 0px solid #e5e5e5;   
}
table.table.total_ecumbrances thead {
    width: 100%;
}
.modal-dialog.modal-full .modal-footer { 
    border-top: 0px solid #e5e5e5;
}
}

div#error {
	margin :0px 15px 8px 0px;
    color: #F44336;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    background: rgba(243, 106, 90, 0.5);
}
ul.unorder_list_menu>li {
    float: left;
	padding-left: 29px;
}
.menu_header_top {
    float: left;
	padding : 27px;
}
.load_data_inputbox {
    width: 190px;
}
label.loan_data_lable {
    width: 100%;
    text-align: left;
	padding-left: 18px;
}
div.load_data_input_div{
	width : 95%;
}
div.load_data_input_div>input
{
	width : 100%;
}
div.load_data_input_div>select
{
	width : 100%;
}
div.form_loan_data
{
	width : 33.30%;
}

.borrower_data_row>h4 {
    padding-left: 20px;
    font-family: sans-serif;
	padding-bottom: 10px;
	background-color: #e8e8e8;
	height: 30px;

}
.lender_data_row>h4 {
    padding-left: 20px;
    font-family: sans-serif;
	    padding-bottom: 10px;
}
div.borrower_data_input_div {
    width: 95%;
}
.RE_date {
    float: right;
}
.borrwer_border_show {
    border: 2px solid gray;
    width: 535px;
	    height: 178;
}
label.top_left_lable {
    width: 100%;
    text-align: left;
    padding-left: 18px;
}
label.lable_border_section {
    float: left;
    padding-left: 30px;
}
div.float_left_section {
    float: right;
    margin-right: 10px;
}
label.new_lable {
    float: left;
    padding-left: 16px;
}
input.working {
   
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
input.input_size_float_textinput {
    height: 24px;
    width: 159px;
    float: right;
}
.col-md-4.radio_buton_div>.radio-inline {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
}
.col-md-4.radio_buton_div {
    padding: 0px;
    margin: 0px;
    width: 120px;
    float: right;
}
.row.short_div_row {
    padding-top: 6px;
}
button.btn.btn-primary.borrower_save_button {
    float: right;
    margin: 3px;
    width: 78px;
    border-radius: 0px;
    /* padding: initial; */
}
input.popup_input_100 {
    width: 120px;
}
table.th_text_align_center>tbody>tr>th {
    text-align: center;
}
select.modal_closing_s_input {
    width: 100%;
}
input.modal_closing_s_input {
    width: 100%;
}
.shape_rectangle
{
	border-radius : 0px;
}
label.font_weight_dark
{
	font-weight : 700;
}

/*    Modal  header and footer background  
.modal-header {
    background: #444d58;
    color: white;
}
.modal-footer {
    background: #444d58;
    color: white;
}
.modal .modal-header .close {
    background: white;
}
    END of css Modal  header and footer background */
	
	/*  changes in Form controll            */
	/*
	div#property input {
    height: 24px;
    padding: 0px 0px 0px 6px;
	font-size : 13px;
	border-radius : 0px;
}


	div#property select {
    height: 24px;
    padding: 0px 0px 0px 6px;
	font-size : 13px;
	border-radius : 0px;
}
*/

div#property div.property_loan_row
{
	    padding-top: 10px;
}

div#property label
{
	    margin-bottom : 1px;
		font-size : 13px;
		font-weight :600;
}




div#escrow div.property_loan_row
{
	    padding-top: 10px;
}

div#escrow label
{
	    margin-bottom : 1px;
		font-size : 13px;
		font-weight :600;
}



div#title div.property_loan_row
{
	    padding-top: 10px;
}

div#title label
{
	    margin-bottom : 1px;
		font-size : 13px;
		font-weight :600;
}
div#title input.btn {
    padding: 0px;
    font-size: 14px;
    height: 33px;
    border-radius: 4px;
    width: 60px;
}

	
/*  END of changes in form controll            */
	
/*------          loan view modal                        -------*/
 .property_loan_row {
    padding-top: 21px;
   
	    padding-left: 117px;
}
.one_section_div {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 6px;
	    margin-top: 10px;
}

div.one_section_div input {
        height: 24px;
		padding: 0px 0px 0px 6px;
		font-size: 13px;
		border-radius: 0px;
	    margin-bottom: 6px;
}
div.one_section_div select {
		height: 24px;
		padding: 0px 0px 0px 6px;
		font-size: 13px;
		border-radius: 0px;
	    margin-bottom: 6px;
}
div.one_section_div label {
			margin-bottom: 1px;
			font-size: 13px;
			font-weight: 600;
}
div.one_section_div>h4 {
    margin: 0px;
    padding-bottom: 14px;
    font-weight: 400;
}
/*------         End of loan view modal                        -------*/
.talimar_lender_dropdowns{
	padding: 20px;
	float: left;

	width: 30%;
}
.talimar_borrower_dropdowns{
	float: left;
	padding: 23px;
	width: 30%;
}

.talimar_no_dropdowns {
	float : right ;
	padding: 20px;
}



/*------         Loan servicing modal                        -------*/
div#loan_servicing div.modal-body{
	padding : 0px;
}
.first_block_content label {
    width: 193px;
	    font-size: 13px;
		    padding: 0px 0px 0px 17px;
}
.first_block_content input {
     width: 150px;
    height: 26px;
    border-radius: 0px;
}

.first_block_content select {
     width: 180px;
    height: 26px;
    border-radius: 0px;
	padding : 0px 0px 0px 2px;
}


.first_block {
    padding: 10px;
    padding-top: 0px;
    max-width:447px; 
	width: 100%;
    float: left;
    margin: 2px;
	border: 1px solid #e5e5e5;
    border-radius: 5px;
	margin-top: 16px;
}
.first_block>h4
{
	font-weight : 500;
}

.loan_servicing_checkboxex {
    width: 194px;
    float: left;
    padding: 5px 0px 9px 11px;
    font-size: 11px;
}
 
div.div_full_width{
	width : 100%;
}
div.first_block.first
{
	width:100%;
	max-width : 430px;
}

.row.servicing_loan_information select {
    width: 50px;
}
.row.servicing_loan_information div.col-md-4 {
    width: 55px;
    float: right;
    padding: 0px 80px 0px 0px;
}
.form-group.loan_service_long_div label {
    width: 80%;
}
.form-group.loan_service_medium_div label {
    width: 39%;
}
/*------         End of Loan servicing modal                        -------*/

table#monthly_statement_table input {
    width: 208px;
}
table#monthly_statement_table select {
    width: 208px;
    border: 1px solid darkgrey;
}
div.disclosures_lable label{
    width: 230px;
}

.include_edit_button {
    width: 150px;
}

.include_edit_button i {
    float: right;
    margin: -20px;
}


div#assigment input {
    width: 100%;
}

.form-group.extention_select_yes {
    padding-left: 53px;
}

table.total_ecumbrances input {
    width: 100%;
    margin: 0px 32px 0px 0px;
    padding: 0px;
}

table.table.total_ecumbrances th {
    width: 47px;
}

 table.closing_s_total_section td {
    padding: 0px 0px 5px 50px;
}
table.closing_s_total_section input {
    width: 37%;
}
div#note_info_paymet_select_depend {
    padding-left: 45px;
}
div#delinquencies_cured_depend {
    padding-left: 45px;
}

div#recording_information>div.col-md-3{
		width:100%;
	}
	
a.btn.btn-primary.borrower_save_button {
    float: right;
    margin: 3px;
    width: 78px;
    border-radius: 0px;
    /* padding: initial; */
}


/*     borrower_data_row  */
.row.borrower_data_row label {
    font-weight: 600;
}
/*     borrower_data_row  */
.row.lender_data_row label {
    font-weight: 600;
}

/*     Modal borrower contact    */

div#borrower_contact .row {
    margin: 0px 40px;
    padding: 5px 0px;
}

div#borrower_contact input {
    height: 24px;
    border-radius: 0px;
    padding: 0px 2px;
}

div#borrower_contact select {
    height: 24px;
    border-radius: 0px;
    padding: 0px 2px;
}

div#borrower_contact label {
    padding: 0px;
    margin: 0px;
}

table#borrower_datatable input
{
	width : 100%;
	padding: 0px 0px 0px 7px;
}
input#balancesheet_date {
    padding: 0px;
}
/*     End of Modal borrower contact    */

/*     Investor contact modal      */

div#investor_contact .row {
    margin: 0px 40px;
    padding: 5px 0px;
}

div#investor_contact input {
    height: 24px;
    border-radius: 0px;
    padding: 0px 2px;
}

div#investor_contact select {
    height: 24px;
    border-radius: 0px;
    padding: 0px 2px;
}

div#investor_contact label {
    padding: 0px;
    margin: 0px;
}


/*     End of Investor contact modal      */

div#bordered_div_section div.row {
    padding: 5px;
}

div#bordered_div_section {
   /* border: 1px solid gray;*/
    margin: 20px 289px 20px 120px;
}
div#bordered_div_section input {
    height: 31px;
}
div.short_input_section {
    float: right;
    padding: 0px 14px;
}

/*------------New layout--------
.row.borrower_data_row div {
    width: 33%;
}
------*/
.borrower_data_row {
    padding: 11px 181px;
    margin: 0px;
}
.row.lender_data_row div {
    width: 33%;
}
.lender_data_row {
    padding: 11px 181px;
    margin: 0px;
}
div#bordered_div_section {
    /*border: 1px solid gray;*/
    margin: 20px 198px;
}
.row.button_section_div {
    padding: 18px 243px;
}

/*div#vesting_section_div div{
	width  : 100%;
}*/
/*------------New layout--------------*/

.talimar_no_dropdowns select {
    border: 1px solid #e5e5e5;
	width: 215px;
    height: 34px;
    border-radius: 5px;
	padding: 0px 0px 0px 10px;
    font-size: 14px;
}

ul.dropdown-menu.inner.selectpicker :hover {
    background: #4db3a4;
	color : white;
}

li.active{
    background: #4db3a4;
	color : white;
}
div.add_rows_button {
    padding: 0px 0px 0px 15px;
}
div#Draws input {
    width: 100%;
    padding: 0px 0px 0px 5px;
}
table#table_notes>tbody>tr>td:last-child {
    width: 80%;
}
table#table_notes input {
    width: 100%;
}
.top_download button {
    float: right;
    margin: 14px;
    border-radius: 0px;
}
div#loan_notes textarea {
    width: 100%;
}
input.readonly_gray {
    background: #ededed;
    border: 1px solid darkgrey;
}
div#Draws textarea {
    width: 370px;
    height: 90px;
}
.checker.disabled {
    padding: 12px 27px;
}
div#assigment input#payment {
    width: 80%;
}

.row_td_print a {
    float: right;
    padding: 0px 1px;
}

.th_text_align_center th {
    text-align: center;
}
.th_text_align_center td {
    text-align: center;
}

.checker.disabled {
    padding: 0px 0px 10px 0px;
}

div#broker_capacity_explain textarea {
    padding: 2px;
    margin: 4px 0px 0px 0px;
    width: 97%;
}
div#broker_capacity_explain {
    padding: 0px 17px;
    width: 100%;
}
div#n_subordination_explain textarea {
    padding: 2px;
    margin: 4px 0px 0px 0px;
    width: 97%;
}
div#n_subordination_explain {
    padding: 0px 17px;
    width: 100%;
}

table#estimate_lender_table input {
    width: 100%;
    padding: 0px 5px;
}

th#total_foot_estimate_lender {
    text-align: right;
    padding: 7px 10px;
}
thead.thead_dark_blue th
{
	background: #003468;
    color: white;
	text-align:center;
}
tr.thead_dark_blue {
    background: #003468;
    color: white;
    text-align: center;
}
tfoot.foot_light_blue
{
	background:rgba(75, 141, 248, 0.76);
	color:white;
}

table#table_print_document td {
    width: 47%;
	padding: 7px 24px;
}
table#table_print_document {
    width: 100%;
    margin: 21px;
}
div.print_document_div_section div.row {
    padding: 7px 21px;
    margin: 21px;
    font-size: 14px;
    font-weight: 600;
}
.print_assigment_top {
    padding: 0px 0px 21px 30px;
    font-weight: 600;
}
.assigment_print_document {
    padding: 5px 30px;
}
.print_assigment_top div {
    padding: 2px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

.form-group.extention_select_yes {
    padding-left: 0 !important;
}
.rc_class {
    float: left;
    width: 100%;
    overflow: scroll;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
.form-group.extention_select_yes {
    padding-left: 0 !important;
}

.borrower_data_row {
    padding: 11px 20px; 
}



.row.borrower_data_row div {
    float: left;
}

.lender_data_row {
    padding: 11px 20px; 
}



.row.lender_data_row div {
    float: left;
}


div#bordered_div_section {
    margin: 20px 61px;
}
.page-head {
    padding: 20px;
}

 .rc_class {
    float: left;
    width: 100%;
    overflow: scroll;
}


.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
    font-size: 13px;
    font-weight: 400;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a { 
    padding: 11px 3px; 
}

.property_loan_row {
    padding-top: 21px;
    padding-left: 0;
}

}

@media only screen and (max-width: 767px)      
{
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px !important;
}
.property_loan_row {
    padding-top: 21px;
    padding-left: 0;
}

div#property label {
    margin-top: 10px;
}
.form-group.extention_select_yes {
    padding-left: 0 !important;
}	

.row.borrower_data_row label {
    font-weight: normal;
    font-size: 12px;
	}

.row.lender_data_row label {
    font-weight: normal;
    font-size: 12px;
	}

.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {
    font-size: 13px;
    font-weight: 400;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a { 
    padding: 11px 3px; 
}


.borrower_data_row {
    padding: 11px 20px; 
}



.row.borrower_data_row div {
    float: left;
}

.lender_data_row {
    padding: 11px 20px; 
}



.row.lender_data_row div {
    float: left;
}


div#bordered_div_section {
    margin: 20px 24px;
}


.row.borrower_data_row div {
    float: left;
    width: 100% !important;
    margin-bottom: 14px !important;
}
.row.lender_data_row div {
    float: left;
    width: 100% !important;
    margin-bottom: 14px !important;
}


.row.button_section_div {
    padding: 18px 0 0 27px !important;
    float: left !important;
}

.page-head {
    padding: 20px;
}

 
.rc_class {
    float: left;
    width: 100%;
    overflow: scroll;
}


}

@media only screen and (max-width: 580px) {
	.row .radio_buton_div .radio {
    width: initial !important;
}
.short_input_section .working {
    width: 100%;
}

input#balancesheet_date {
    width: 100%;
}	

h2 {
    font-size: 18px;
}


.page-head {
    padding: 20px;
}

.talimar_no_dropdowns {
    width: 100%;
}

}
@media only screen and (max-width: 469px) {
	
	
		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
	margin-bottom:10px !important;
}

.page-head .page-title > h1 {
    font-size: 18px !important;
}

.table thead tr th {
    font-size: 12px;
    font-weight: normal;
}

}

li.no-results.active {
    background: red;
    color: #4db3a4;
}
input#lender_account{
	background:#ededed;
	border:1px solid darkgrey;
}
div.rc_class div#DataTables_Table_0_filter {
    float: right;
    padding: 0px 10px;
}
/* div.rc_class table td {
    text-align: left;
} */


.talimar_no_dropdowns div {
    float: right;
	padding: 0px 2px;
}
table#table_ecumbrances tfoot input {
    border: none;
}
table#table_ecumbrances_current tfoot input {
    border: none;
}
.row.padding_200 {
    padding: 0px 200px;
}
div#bordered_div_section input {
    padding-left: 10px;
}
.bs-searchbox {
    width: 100%;
}
div#loan_view input {
    background: white;
    border: 0px;
    padding-left: 0px;
}

.profile_image_section button {
    background: #f36a5a;
    border: 0px;
    width: 126px;
    color: white;
    border-radius: 3px;
    padding: 4px;
}
select#property_taxes_current {
    width: 72%;
}
#assigment select.assigment_investor_select {
    width: 160px;
}
p.short_size_p {
    font-size: 11px;
    font-weight: 600;
    word-spacing: 0px;
    letter-spacing: 0px;
}
table.user_updation_table {
    width: 38%;
}
table.user_updation_table td {
    padding: 3px;
}


.user_content button {
    padding: 1px 2px;
    float: left;
    background: #4b8df8;
    border: 0px;
    border-radius: 3px;
    margin: 1px;
    color: white;
}
.user_content button.danger {
    background: #F44336;
}
div#loan_view input {
    padding-left: 7px;
}
.row.lender_cost_link {
    padding: 5px 0px;
}
.row.lender_cost_link a {
	width:65%;
    float: right;
}
div#assigment input {
    height: 28px;
    border-radius: 3px;
    border: 1px solid #a5a5a5;
    padding-left: 4px;
}
div#assigment select {
    height: 28px; 
    border-radius: 3px;
    border: 1px solid #a5a5a5;
    padding-left: 4px;
	width:100%;
}

table#table_ecumbrances input {
    width: 100% !important;
}
div#Encumbrances input.small_input {
    width: 100px;
}

.bcc_section span {
    border: 1px solid #999999;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
	float:left;
}
.bcc_section {
    width: 100%;
    padding: 2px;
}
.message_section {
    width: 100%;
    padding: 2px;
}
.row.bcc_section {
    margin: 10px 0px;
}
.row.message_section textarea {
    width: 100%;
    margin: 10px;
	height:200px;
}
table#table_ecumbrances tfoot th {
    text-align: right;
}
table#table_assigment tfoot input {
    border: 0px;
}
table.half_table_section td {
    padding: 5px;
    font-weight: 600;
    border: 1px solid #dddddd;
}
table.half_table_section {
    width: 50%;
}
table.half_table_section th {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    color: white;
    background: #444d58;
}
a.user_login_detai_link {
    background: #fcfefd;
    color: #444d58;
    border-radius: 3px;
    /* padding: 4px; */
}
td.slightly_left_td div {
    padding: 0px 28px;
}
.rc_class tfoot th {
    text-align: left;
}
.rc_class {
    padding: 10px 0px;
}
div#table_filter {
    float: right;
    padding: 0px 7px;
}
td.check_box_places {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
div#assigment th {
    font-size: 12px;
}
thead.thead_dark_blue tr {
    border: solid 1px #003468 !important;
}

.page-footer {
    background: white;
    padding: 20px 10px;
    float: left;
    width: 100%;
    padding-top: 0px !important;
}.page-footer-inner {
    width: 100%;
    float: left;
    text-align: center;
}
.ssl_lcass {
    float: right;
    margin-right: 0;
    margin-top: -26px;
}

thead.thead_dark_blue tr th {
    border: solid 1px #003468 !important;
}

div#comparable_sale input {
    width: 100%;
}

div#loan_distribution tfoot th {
    text-align: right;
    padding-right: 10px;
}
div#loan_distribution tr input {
    width: 100%;
}

.image_main_section {
    width: 23%;
	float: left;
    padding: 10px;
    margin: 10px;
	border: 2px solid #e5e5e5;
	
}
.image_main_section div {
    width: 100%;
    padding: 5px;
}
.images_part img {
    width: 100%;
    height: 175px;
}

.property_images_last a {
    float: right;
    margin: 3px;
}
.property_images_last button {
    float: right;
    margin: 3px;
}

.property_images_last {
    width: 100%;
	float: right;
}
.image_main_section.red-border{
	border:2px solid red;
}
.image_main_section.orange-border{
	border:2px solid #ff9800;
}
.theme-background{
	background:#003468;
	color:white;
}
.image_description input[type="file"] {
    width: 100%;
	color: white;
    background: #003468;
    border: 2px solid #003468;
}

.document_iframe_part h6 {
    text-align: center;
}
.document_iframe_part a {
    margin: 0px 6px;
}
div#lender_loan_document div.modal-body{
	padding:0px;
}

.album_tab {
    padding: 10px;
    width: 24%;
	float:left;
	height: 300px;
}

div.album_images img{
	width:100%;
	height:100%;
} 
.album_images.album_database {
    height: 300px;
	background-repeat:no-repeat;
	background-image:url(../images/blank_folder.png);
	background-size: 100%;
}

.album_images.album_database p {
    color: blue;
    text-align: center;
    font-size: 18px;
    padding: 110px 0px;
}
table#table_comparable_sale tfoot th {
    text-align: left;
}
.assigment_print_document.executive_summary {
    width: 50%;
    float: left;
}
.row.borrower_data_row.borrower_textarea_div textarea {
    width: 100%;
}
.row.borrower_data_row.borrower_textarea_div div {
    width: 100%;
}
.row.lender_data_row.lender_textarea_div textarea {
    width: 100%;
}
.row.lender_data_row.borrower_lender_div div {
    width: 100%;
}

.image_description input {
    width: 90%;
    float: left;
}
.image_description a.fa-trash-o {
   padding:2px 2px;
}
.modal-footer span {
    float: left;
}
div.row.lender_cost_link div.col-md-6{
	width:55%;
}



div#additional_broker_data textarea {
    width: 103%;
    height: 170px;
    margin: 0px;
}
a#additional_broker_data_button{
	width:100%;
}
div#Draws tfoot input {
    border: 0px;
}
.row.ecrw_select_div {
    padding-top: 20px;
}
.row.lender_data_row label {
    padding: 0px;
    margin: 0px;
}
.row.btn_addnew_contact {
        margin: 3px 2px;
}
.rc_class table td {
    text-align: left;
}
a.autofill_lender_data span {
    background: green;
    color: white;
    padding: 9px;
    font-size: 15px;
    border-radius: 4px;
}
.autofill_link.mail_payment_distribution_depend {
    padding: 28px 15px;
}
.data-center {
    text-align: center !important;
}
.lender-names-contact-page{
	 width: 100% !important;
    padding: 3px 14px  !important;
	font-size: 14px  !important;
    line-height: 20px  !important;
}


div#assigment input[name="percent_loan[]"] {
    width: 110px;
}
.print_document_div_section .col-sm-3 {
    padding: 0px 3px;
}
form.lender-page h4 {
    padding-left: 15px !important;
}

.row.borrower_data_row.borrower_textarea_div label {
    padding-left: 16px;
}
div#contact_information_div {
    border-bottom: 1px solid #e5e5e5;
}
.row.borrower_data_row.table-borrower table {
    margin-left: 15px !important;
}
.row.borrower_data_row.border-top {
    border-top: 1px solid #e5e5e5;
}
.row.borrower_data_row.border-top h2 {
    margin-top: 4px !important;
}
.borrower_contact_type {
    border-top: 1px solid #e5e5e5;
}
.lender_contact_type {
    border-top: 1px solid #e5e5e5;
}
.lender_portfolio  {
    border-top: 1px solid #e5e5e5;
}
.row.lender_data_row.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
#loan_status_active_base select[name="construction_status"] {
    margin-bottom: 6px;
}
form#loan_funded_year_form button {
    margin: 0px 5px !important;
}
form#loan_funded_year_form input {
    padding: 7px;
    border: 1px solid #dddddd;
    margin: 0px 6px !important;
    border-radius: 5px;
    font-size: 14px;
}
div#assigment h4.modal-title a {
    float: right;
    padding: 0px 20px 0px 0px;
}
.form-group.loan_type_dependent {
    padding-left: 53px;
}

.modal-body.pad-inp-body div.row {
    padding: 8px 20px;
}
.modal-body.pad-inp-body label {
    font-weight: 600;
    margin-bottom: 0px !important;
}
.float-direction-margin {
    padding-top: 17px !important;
}
div#minimum_select_yes {
    padding-left: 53px;
}
div#min_bal_type_option {
    padding-left: 53px;
}
table#table_ecumbrances_current input {
    width: 100%;
}
table#table_ecumbrances_current {
    width: 100%;
}

.lien-holder-section {
    border: 1px solid #dddddd;
    padding: 22px 5px;
    border-radius: 5px;
    margin: 13px 0px;
}

table#closing_statement_new tbody td input[type="text"] {
    width: 90px;
}

table#closing_statement_new div.checker {
    padding: 0px 10px !important;
}
table#closing_statement_new>tbody>tr>td:first-child {
    width:70px !important;
}
table#closing_statement_new tbody input[name="items[]"] {
    width: 100% !important;
}
table#closing_statement_new tbody input[name="hud[]"] {
    width: 100% !important;
}
table#closing_statement_new tbody input.small_input {
    width: 53px;
	border:none;
	border-bottom:1px solid black;
	border-right:none;
}
table#closing_statement_new tbody input[name="901_input1"] {
    width: 32px !important;
}
table#closing_statement_new tbody input.small_input_day {
    width: 27px;
    border: none;
    border-bottom: 1px solid black;
}
.additional-info-closing-new label {
    padding-left: 20px;
}
th.padding-zero {
    padding: 0px !important;
}
th.padding-zero.hud {
    padding: 0px !important;
}
table#table_impound_accounts input[type="text"] {
    width: 100% !important;
}
.additional-info-closing-new div.row.extra-padding {
    padding: 30px 0px 0px 0px !important;
}

span#paid-off-chart-color {
    padding: 0px 25px;
    background: #c24642;
    margin: 0px 8px;
}
span#active-chart-color {
    padding: 0px 25px;
    background: #72bbc5;
    margin: 0px 8px;
}
span#pipe-chart-color {
    padding: 0px 25px;
    background: #7f6084;
    margin: 0px 8px;
}


table.closing-statement-deduction {
    width: 100%;
	margin-left:20px;
}
table#closing-statement-deduction tr>td:first-child {
    width: 67%;
}
table#closing-statement-deduction input[name="item_deduction[]"] {
    width: 100% !important;
	margin-left:15px;
}
tr.input-border-zero td:first-child input {
    width:100%;
}

.content div.page-container {
    padding: 0px !important;
}

div#template-reports div.page-container {
    padding: 0px 0px 0px 3px !important;
}

div#main-content-template {
    padding: 0px 20px !important;
}
table#closing_statement_new {
    width: 100% !important;
}

th.th-fix-width-10 {
    width: 10% !important;
}

table#closing-statement-deduction td {
    padding-right: 59px;
}
table#closing-statement-deduction td {
    padding-top: 2px !important;
}
table#closing-statement-deduction-hidden td {
    padding-top: 2px !important;
}
.row.servicing_loan_information.loan_servicing_div1 {
    padding-top: 20px;
}

.row.draws_row_padding {
    padding-top: 10px;
}
div.ecumbrance_foot_section .row {
    padding: 2px;
}
.ecumbrance_foot_section {
    padding-top: 20px;
}

.col-md-4.scrolling-dashboard {
    overflow-y: scroll;
    height: 264px;
}
.col-md-4.scrolling-dashboard::-webkit-scrollbar {
    width: 4px;
    height: 2em
}
.col-md-4.scrolling-dashboard::-webkit-scrollbar-button {
    background: #eee
}
.col-md-4.scrolling-dashboard::-webkit-scrollbar-track-piece {
    background: #eee
}
.col-md-4.scrolling-dashboard::-webkit-scrollbar-thumb {
    background: #888
}​
table#table_assigment tr td:last-child { 
    padding-right: 24px !important;
    padding-left: 0px !important;
    margin: 0px !important;
}

div#loan_distribution input[readonly]
{
	background:#eeeeee;
	border:1px solid #e5e5e5;
}
table#table_ecumbrances tr td:nth-child(14)
{
	text-align:center;
}
table#table_ecumbrances tr td:last-child
{
	text-align:center;
}
.full-width-button {
    width: 95%;
}

table#table_loan_source_and_uses tbody input {
    width: 100%;
}
table#table_loan_source_and_uses tbody input[readonly] {
    background: #eeeeee !important;
	border: 1px solid darkgrey;
}
table#table_loan_source_and_uses tbody input {
    border: none !important;
    background: white;
}
button.btn.orange {
    background: orange;
    color: white;
    font-weight: 500;
}

table#table_comparable_sale tfoot input[readonly] {
    background: #eeeeee;
    border: none;
}

div.re870_table table tr.pending_redate td {
    background: rgba(255, 0, 0, 0.18);
}

label.loan_data_lable.borrrower-label {
    padding: 0px 3px;
}
.col-sm-2.borower-name {
    padding: 4px;
}
.error_main_file {
    width: 100%;
    background: red;
    padding: 10px;
    color: white;
    font-weight: 700;
}
#table-property-home-page tfoot th {
    text-align: left;
    padding: 5px 17px;
}
div.property-right-content-data ul.block-options {
    list-style-type: none;
    padding: 10px;
    font-size: 15px;  
}
div.property-right-content-data ul.block-options li {
    margin: 10px;
    background: #428bca;
    padding: 7px;
    color: white !important;
}

div.property-right-content-data ul.block-options li a{
	color: white !important;
}

div.ecumbrance-modal-right-data {
    border-left: 1px solid #e5e5e5 !important;
}
table.table_ecumbrances_css input {
    width: 100% !important;
}
table.table_ecumbrances_css {
    width: 100% !important;
}
table.table_ecumbrances_css select {
    width: 100% !important;
}
table#table-property-home-page input[name="property_address[]"] {
    min-width: 330px !important;
}
table#table-property-home-page select[name="priority[]"] {
    padding: 4px;
}
table#table-property-home-page td a {
    vertical-align: middle !important;
    padding: 5px 5px;
    margin: 0px;
}
.row.property_loan_row.property-edit-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.col-sm-9.property-left-content-data {
    border-right: 1px solid #e5e5e5;
}
.col-sm-3.property-right-content-data {
    padding: 0px !important;
    margin: 0px !important;
}
div.property-left-content-data textarea[name="desc_property_impro"] {
    height: 100px !important;
}
div.property-left-content-data textarea[name="desc_property_p_impro"] {
    height: 250px !important;
}
h4.property-edit-h4 {
    padding: 8px 14px !important;
    margin: 0px !important;
    font-weight: 400;
}
table.table_ecumbrances_css thead th {
    vertical-align: middle;
}
.ecumbrance-edit-notes {
    width: 100% !important;
    padding: 13px;
    margin: 10px 0px 19px 0px;
    border: 1px solid #e5e5e5;
	background: #e5e5e5;
}
.ecumbrance-border-bottom-div {
    /*border-bottom: 1px solid #e5e5e5;*/
}
.ecumbrance-border-top-bottom-div {
   /* border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;*/
    padding: 17px 0px 0px 0px;
    margin-bottom: 10px !important;
}

.col-sm-6.property-cashflow-right {
    border-left: 1px solid #e5e5e5;
}

h5.padding-left-16 {
    padding: 0px 16px;
}

table.compare_sale_css input {
    width: 100%;
}
.property-insurance-checkbox-top-padding {
    padding-top: 28px !important;
}
.modal-body.page-property-taxes div.row {
    margin: 15px 0px;
}
.property-image-inner-date {
    margin: 10px;
    width: 100%;
}
.property-image-inner-image img {
    width: 100%;
    height: 150px;
}
.property-image-inner-date input {
    margin: 0px !important;
    width: 90% !important;
}
.property-image-inner-description-main div {
    float: left;
}
.property-image-description {
    width: 80% !important;
}
.property-image-description {
    width: 80% !important;
    padding: 2px 0px 2px 10px;
}
.property-image-delete {
    padding: 10px;
}
.property-image-inner-description-main {
    height: 45px;
}
.property-image-inner-main {
    border: 1px solid #efefef;
}
.property-image-inner-main {
    margin: 15px 0px;
}
table#table-property-home-page tbody tr td:nth-child(2) {
    width: 300px !important;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}
table#table-property-home-page tbody tr td:first-child {
    vertical-align: middle;
}
input.image_upload_input {
    display: none;
}
div#page-loan-data-overview-container {
    background: white;
    padding: 0px 90px;
}
div#page-loan-data-overview-content {
    padding: 0px !important;
}
div#page-loan-data-overview-container div.row {
    padding: 6px 0px;
}
div#page-loan-data-overview-container label.label-control {
    font-weight: 510;
}
.property-inner-row {
    border-bottom: 1px solid #c1c1c1;
    margin: 0px 0px;
}
div#page-loan-data-overview-container h3 {
    background: #eeeeee;
    text-align: center;
    padding: 8px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) 
{
	div#page-loan-data-overview-container{
		padding:0px !important;
	}
	div#page-loan-data-overview-container div.row div {
    padding: 7px 16px;
	}
}
div#page-loan-data-overview-container div.row.bottom-buttons button {
    margin: 2px 0px 0px 5px;
}

div#page-loan-data-overview-container  div#success, div#error{
	margin:0px !important; 
}
.page-footer .page-footer-inner{
	padding:22px 0px;
}
.folder-main-images img {
    width: 100%;
    padding: 0px 10px;
}
.folder-title {
    text-align: center;
}
.folder-title input[name="title[]"] {
    border: none;
    text-align: center;
    padding: 0px;
}
.loan-overview-top-buttons ul.block-option {
    list-style-type: none;
    float: right;
}
.loan-overview-top-buttons ul.block-option li {
    float: left;
    margin: 21px 3px;
}
.loan-overview-top-buttons {
    padding: 0px 13px 32px 13px;
	height: 40px;
}
div#page-loan-data-info {
    background: white;
}
div#page-loan-data-info div.row {
    padding: 7px 0px;
}
div#page-loan-data-info h3 {
    background: #eeeeee;
    padding: 7px 11px;
    font-weight: 600;
}
div#page-loan-data-info .talimar_no_dropdowns{
	padding:0px;
}

div#page-loan-data-info .page-title{
	padding:0px;
}
ul#loan-data-sidebar-right li {
    background: #428bca;
    color: white;
}
ul#loan-data-sidebar-right li:hover {
    background: #428bca9c !important;
    color: white !important;
	font-weight:700;
}
ul#loan-data-sidebar-right li a {
    color: white;
	background: #428bca;
}
ul#loan-data-sidebar-right li a:hover {
    color: white;
	background: #428bca9c;
	font-weight:700;
}
div#loan-data-page-top-heading {
    background: #eeeeee;
    padding: 0px !important;
    margin: 0px;
}
div#loan-data-page-top-heading div.col-sm-4, div.col-sm-8 {
    padding: 0px !important;
    margin: 0px !important;
}
ul#loan-data-sidebar-right {
    padding-top: 79px;
}
div.page-head-page-load-data .talimar_no_dropdowns.col-sm-6 {
    padding-bottom: 0px;
}
.folder-main-images img {
    width: 100%;
    padding: 0px 10px;
}
.folder-title {
    text-align: center;
}
.folder-title input[name="title[]"] {
    border: none;
    text-align: center;
    padding: 0px;
}
table.th_text_align_center > tbody > tr > th {
    text-align: left !important;
	font-weight:600 !important;
	font-size: 14px !important;
}
table.th_text_align_center > tfoot > tr > th {
   
	font-weight:600 !important;
	font-size: 14px !important;
}

#property-home-table .form-control{
	border: 1px solid white !important;
}

#property-home-table tfoot th{
	text-align:left !important;
}
.table_ecumbrances_css input{
	border: 1px solid white !important;
}
@media (max-width: 767px) {


}

@media (max-width: 469px) {


}
table#property-home-table a {
    font-weight: 500;
}
table#property-home-table>tbody>tr td>input { 
    text-align:center;
    font-weight: 500;
	padding-right: 0px;
	padding-right: 12px;
}
table#property-home-table>tbody>tr>td { 
    text-align:center;
    font-weight: 500;
}



.property_loan_row h4{
	background-color: #e8e8e8;
	height: 30px;

	line-height: 10px;
}

.form-control[readonly]{
	background-color: #f0efef !important;
}
	
.property_data_confirmOverlay{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:url('ie.png');
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index:100000;
}


#confirmBox{
    background:url('body_bg.jpg') repeat-x left bottom #eeeeee;
    width:600px;
    position:fixed;
    left:40%;
    top:70%;
	border-radius: 10px;
    margin:-130px 0 0 -230px;
    border: 1px solid rgba(252, 247, 247, 0.6)
	height:100px;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	padding : 10px;
}


#confirmBox h4,
#confirmBox p{
	
    font:16px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    color:#666;
	text-align:left;
}

#confirmBox h4{
    letter-spacing:0.3px;
    color:#666;
	border-bottom: 1px solid #494b4d;
}

#confirmBox p{
     font-size:16px;
    line-height:3.4;
    padding-top: 8px;
}

table#property-home-table th {
    font-weight: 500;
}
.view_inputs{
	font-size : 14px;
}
div#loan-data-page-top-heading {
    background: #eeeeee;
    padding: 0px !important;
    margin: 0px;
}
div#loan-data-page-top-heading div.col-sm-4, div.col-sm-8 {
    padding: 0px !important;
    margin: 0px !important;
}
ul#loan-data-sidebar-right {
    padding-top: 97px;
}
div.page-head-page-load-data .talimar_no_dropdowns.col-sm-6 {
    padding-bottom: 0px;
}

.row {
    margin-right: 0px;
    margin-left:  0px;
}
.page-head {
    margin-right: 15px;
}
.talimar_no_dropdowns div {
    float: left;
}
.inner-talimar_no_dropdowns {
    float: right !important;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.row {
    margin-left:  0px !important;
}
.page-head-page-load-data .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px !important;
}

.talimar_no_dropdowns select {
    width: 150px !important;
}


}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.row {
    margin-left:  0px !important;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    padding: 11px 11px !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid white;
    border-right: 1px solid #ffffff82;
}

.page-head-page-load-data .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 142px !important;
}
.inner-talimar_no_dropdowns{
	margin-right:10px;
}
.talimar_no_dropdowns select {
    width: 142px 
}
ul#loan-data-sidebar-right {
    padding-top: 0px !important;
}
}
@media (max-width: 767px) {
.page-content-wrapper .page-content {
    padding: 0 !important;
    FLOAT: LEFT;
	WIDTH: 100% !important;
}


.inner-talimar_no_dropdowns{
	margin-right: 0px !important;
}
.page-head-page-load-data .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
     width: 100% !important;
}

.talimar_no_dropdowns select {
        width: 100% !important;
		margin-top: 8px !important;
}
.div#loan-data-page-top-heading .col-sm-3{
	margin-right:0px !important;
}

div#page-loan-data-info div.row {
    margin-right: 0px;
}
div#page-loan-data-info h3 {
    margin-right: 0px !important;
}

.page-header .page-header-top .top-menu {
    display: block;
    clear: none !important; 
    margin-top: 0px !important;
}	
ul#loan-data-sidebar-right {
    padding-top: 0px;
}
.loan-overview-top-buttons ul.block-option {
    list-style-type: none;
    float: right;
    width: 100% !important;
    margin-bottom: 20px !important;
    margin: 0;
    padding: 0;
}
.loan-overview-top-buttons ul{
	display:none !important;
}

.loan-overview-top-buttons ul.block-option li {
    float: left;
    margin: 0 !important;
    width: 50% !important;
}
.loan-overview-top-buttons ul.block-option li .btn {
    width: 99% !important;
}
.talimar_no_dropdowns.col-sm-6 {
    float: left;
    width: 100%;
}
.talimar_no_dropdowns div {
    float: left;
    width: 99%;
}

}
@media (max-width: 469px) {
.page-header .page-header-top .top-menu {
    display: block;
    clear: none !important; 
    margin-top: 0px !important;
}	
ul#loan-data-sidebar-right {
    padding-top: 0px;
}
.loan-overview-top-buttons ul.block-option {
    list-style-type: none;
    float: right;
    width: 100% !important;
    margin-bottom: 20px !important;
    margin: 0;
    padding: 0;
}
.loan-overview-top-buttons ul.block-option li {
    float: left;
    margin: 0 !important;
    width: 100% !important;
}
.inner-talimar_no_dropdowns{
	margin-right: 0px !important;
}
}

label{
	
	font-weight:400 !important;
}
.padding-left-40
{
	padding-left:40px;
}
div#loan_terms input[name="maturity_date"] {
    background: #e5e5e5 !important;
}
th.property-home-address-td {
    vertical-align: middle !important;
}
.ui-helper-hidden-accessible {
 position: absolute !important;
 clip: rect(1px 1px 1px 1px);
 clip: rect(1px,1px,1px,1px);
}
table#table_assigment tr td:last-child { 
    padding-right: 24px !important;
    padding-left: 0px !important;
    margin: 0px !important;    
}
#loan_servicing .modal-lg {
    width: 982px !important;
}
#table_impound_accounts input{
	border : 1px solid white !important;
}


#loan_servicing div.disclosures_lable label {
    width: 255px !important;
}
#loan_servicing div.first_block.first {
    max-width: 484px !important;
}

#loan_servicing .first_block {
    max-width: 485px !important;
}
.modal-footer { 
    clear: both;
}
#loan_servicing input, select {
    width: 100% !important;
}
div#loan_servicing div.modal-body {
    float: left;
    width: 100%;
}

a.as_class {
    margin-top: 8px;
    float: left;
}
.al_box button.btn.dropdown-toggle.selectpicker.btn-default {
    margin-top: 17px;
}
@media (max-width: 768px){
.scroll-res-div .table{
	min-width:500px !important;
}	
}

@media (max-width: 767px) {
.first_block > h4 {
    height: auto !important;
    font-size: 14px !important;

}	
.second_block_content {
    float: left;
    width: 100% !important;
}
.second_block_content .blue.btn {
    width: 100% !important;
}

div.first_block.firstt {
    width: 100% !important;
    max-width: 100% !important;
    border: none !important;
}
.first_block_contentt {
    float: left !important;
    border-right: none !important;
    width: 100% !important;
}	
div.first_block.first {
    width: 100%;
    max-width: 99% !important;
}
div.first_block {
    width: 100%;
    max-width: 99% !important;
}

	
}


table#property-home-table td, table#property-home-table th {
    background: white !important;
	vertical-align: middle !important;
}
th.property-home-address-td {
    text-align: left;
}
table#property-home-table th, table#property-home-table td {
    border-right: none !important;
    border-left: none !important;
}
table#property-home-table strong {
    font-weight: 500;
}
td.vertical-align-right {
    text-align: right !important;
}
table#property-home-table {
    border: none !important;
}
table#property-home-table  tr.border-show-top th {
    border-top: 1px solid #dddddd !important;
}
table#property-home-table tfoot tr.border-show-top td {
    border-top: 1px solid #dddddd !important;
	border-bottom: none !important;
}
table#property-home-table tfoot tr:not(.border-show-top) td {
    border: none !important;
}
table.compare_sale_css tfoot tr th:first-child {
    text-align: right;
}
#c2_information{
	display:none;
}
.border-top h4{
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;
	padding-left: 15px !important;
}
.view_inputs{
	font-size:14px !important;
}
div#page-invester-view .row.button_section_div {
    padding: 0px 180px;
}
table#property-home-table tr td:last-child {
    text-align: left !important;
}
table.table_ecumbrances_css tbody td {
    background: white !important;
}
table.table_ecumbrances_css thead th {
    background: #e5e5e5;
}

.main-left-div h4 {
    padding: 6px;
}
.main-left2-div h4 {
    padding: 6px;
}
.section_executive_div_inputs {
    float: right;
    font-size: 10.5px;
}