@media only screen and (min-width: 200px) and (max-width: 569px) {
	div.responsive_table{
				overflow-x:scroll;
				overflow-y:hidden;
			}
			table.table tbody{
				overflow-x:scroll;
			}
			.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
			border-left: 0px !important;
			}
			div.image_main_section{
			width:95%;
			}

			div.image_main_section div{
				width:100%;
				margin:0px;
				padding:2px;
			}
			.ssl_lcass{
				margin:0px;
			}
			div.loan_servicing input{
				width:100%;
			}
			div.loan_servicing div{
				width:100%;
			}
			.row.button_section_div
			{
				width:100%;
			}
			button.btn.btn-primary.borrower_save_button
			{
				width:100%;
			}
			a.btn.btn-primary.borrower_save_button
			{
				width:100%;
			}
			
}
@media (max-width: 991px)
{

.page-sidebar.navbar-collapse {
     display: block !important; 
}
.page-sidebar.navbar-collapse ul.page-sidebar-menu  li{
     width: 25% !important; 
	float:left;	 
}
.load_data_buttons div {
		padding: 0px 40px;
		}
		div.responsive_table{
				overflow:scroll;
			}
			.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
			border-left: 0px !important;
			}
}
@media (max-width : 570px) {
	div.image_main_section{
		width:95%;
	}

	div.image_main_section div{
		width:100%;
		margin:0px;
		padding:2px;
	}
	
    .row div{
	width:100%;
	float:none;
	}
	div#Draws textarea {
    width: 100%;
    height: 90px;
	}
	.btn{
		float:right;
		width:100%;
		border-radius:0px;
		margin : 2px;
	}
	.hor-menu ul.nav.navbar-nav li {
    float: none;
    width: 100%;
	}
	.hor-menu ul.nav.navbar-nav li  a{
		color: white;
	}
	.page-sidebar.navbar-collapse {
     display: block !important; 
		}
		.page-sidebar.navbar-collapse  ul.page-sidebar-menu  li{
			 width: 100% !important; 
			float:left;	 
		}
		/*
		::-webkit-scrollbar { 
		display: none; 
		}
		*/
		.load_data_buttons div {
		padding: 0px 40px;
		}
		.talimar_no_dropdowns div {
		float: right;
		padding: 0px 3px;
		}
		#Encumbrances table th , #Encumbrances table td{
			height:33px;
		}
		#property div.row.property_loan_row
		{
			margin: 0px;
			padding: 2px 8px;
		}
		#property div.row.property_loan_row div
		{
			padding: 4px 0px;
		}
		th{
			text-align:left;
		}
		tbody{
			overflow:scroll;
		}
		#print_loan_document table tbody td {
		width: 100%;
		float: right;
		padding: 4px;
		}
		#title div.row.property_loan_row
		{
			margin: 0px;
			padding: 2px 8px;
		}
		#title div.row.property_loan_row div
		{
			padding: 4px 0px;
		}
		#escrow div.row.property_loan_row
		{
			margin: 0px;
			padding: 2px 8px;
		}
		#escrow div.row.property_loan_row div
		{
			padding: 4px 0px;
		}
		.row.borrower_data_row div {
		width: 100%;
		}
		.row.borrower_data_row{
			width:100%;
			padding:5px 0px;
			margin:2px;
		}
		div.row.button_section_div div{
			width:100%;
			}
		div.row.button_section_div button{
			width:100%;
			}
			div#bordered_div_section {
				width: 100%;
				margin: 2px;
				padding: 0px;
			}
			div.responsive_table{
				overflow:scroll;
			}
			.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a {
			border-left: 0px !important;
			}
}
@media (min-width: 991px){
	
	div#ach_deposite div.form-group {
    padding: 0px 80px;
}
div#ach_deposite div.form-actions {
    padding: 12px 95px;
}
}
/* CSS changes of TaliMar on 21/4/17 */
@media(max-width: 1199px)
{
	
	.portlet-body.flip-scroll {
    width: 100%;
    float: left;
    overflow: auto;
}
.rc_class {
    overflow: auto !important;
	    margin: 0px auto !important;
}
.load_data_buttons .col-md-4 {
    width: 100%;
}
}
@media (max-width: 991px)
{
.page-container {
   padding: 20px 20px 0 20px !important;
}
}
@media (max-width: 768px)
{
	div.image_main_section{
		width:95%;
	}

	div.image_main_section div{
		width:100%;
		margin:0px;
		padding:2px;
	}
	.talimar_no_dropdowns {
    
    padding: 20px 0px !important;
}
	.row.padding_200 {
    padding: 0px 20px !important;
}
	.first_block.first {
    float: left !important;
    max-width: 100% !important;
    margin: 0px auto !important;
}
.first_block {
    max-width: 100% !important;
    margin: 0px auto !important;
}
.first_block_content {
    float: left !important;
    width: 100% !important;
}
}
@media (min-width: 768px)
{
.container {
    width: 100% !important;
}
}
a.user_login_detai_link {
    padding: 5px !important;
    height: auto !important;
}
.portlet.box > .portlet-title > .caption {
    padding: 16px 0 9px 0 !important;
}
.row.property_loan_row {
    padding: 8px 0px !important;
    margin: 0px auto !important;
}
.modal_content_div .row {
	padding: 4px 0px 10px 0px !important;
    margin-right: -15px !important;
}
.rc_class .col-md-4 {
    padding: 5px !important;
}
.rc_class {
    margin: 0px auto !important;
}
@media (max-width: 767px)
{
.page-content-wrapper .page-content {
      padding: 20px 0px 0px 15px !important;
}
}
@media (max-width: 600px)
{
.load_data_buttons div {
    padding: 0px 15px;
}
.talimar_no_dropdowns {
    width: 100% !important;
}
.page-content-wrapper .page-content .page-title {
    margin-bottom: 0px !important;
    padding: 0px 0px!important;
   
}
.talimar_no_dropdowns select {
   
    width: 100% !important;
    
    padding: 0px 0px 0px 10px !important;
    
}

.talimar_no_dropdowns .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
   }
.load_data_buttons .form-group {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}
.btn {
    margin: 4px 0px !important;
}
}
div#loan_servicing div.modal-body {
       float: left;
}
@media (max-width: 600px)
{
.talimar_no_dropdowns div {
    width: 100% !important;
    float: left !important;
}
div.row div{
	width:100%;
}
input.btn{
	width:100%;
}
a.btn{
	width:100%;
}
button.btn{
	width:100%;
}
}