a.ct_filter_contacts {
    float: right;
}
.ct_filter_contacts i {
    font-size: 30px;
}
.main_select_div form#tagfilter_form {
    display: none;
}
.icons_hide_filter{
	display: none;
}
.filter_page_title{
	padding-bottom: 8px !important;
}
a#ct_apply_filter,
a#ct_apply_filter_b {
    float: right;
}
.table_All .row {
    margin-right: -15px;
    margin-left: -15px;
}
.table_All {
    display: inline-block;
    width: 100%;
    background: #fafafa;
    padding: 15px;
    border: solid 1px #e7e7e7;
}
.table_All table{
    box-shadow: none;
    border-radius: 0;
    border: solid 1px #E7E7E7;
}
.table_All tbody {
    background: #eee;
}
.table_All tbody tr td:first-child {
	font-weight: 600;
	color: #003468;
}
.table_All tbody tr td {
	border-top: 1px solid #E7E7E7;
	padding: 6px 10px;
	font-size: 14px;
	letter-spacing: 0.5px;
	vertical-align: middle;
}
.table_All tbody tr:nth-child(odd){
	background-color: #fafafa;	
}
.table_All tbody tr:nth-child(even){
	background-color: #fff;	
}
.table_All table tr th {
    color: #fff;
    padding: 15px;
    background: #C0C0C0;
}
.dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button{
  background: #C0C0C0 !important;
}
a.bu_Block {
    background: #003468;
    padding: 5px 15px;
    font-size: 12px;
}
a.bu_Block:hover,
a.bu_Block:focus {
	background: #003468cc;
}
a.ct_filter_contacts {
    color: #fff;
    display: block;
    border: solid 1px #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
}
a.ct_filter_contacts:hover,
a.ct_filter_contacts:focus {
	opacity: 0.8;
	text-decoration: none !important;
}
a.ct_filter_contacts i {
	font-size: 24px;
}
#ajax_table_contactlist_filter {
	float: right;
}

.filter_Upp {
    float: left;
    width: 100%;
    background: #C0C0C0;
}
.filter_Upp .row,
.pro_Head .row {
	margin-left: -15px;
	margin-right: -15px;
}
.filter_Upp span.search_titled,
.col-Fil span.search_title,
.pro_Head .search_title {
    position: inherit;
    top: inherit;
    left: inherit;
}
.col-Fil {
    float: left;
    width: 100%;
    padding: 15px 28px;
    color: #fff;
}
.col-Fil .form-control,
.pro_Head .form-control  {
	height: 44px;
	border: solid 1px #E7E7E7;
}
.pro_Head {
    float: left;
    width: 100%;
    padding: 15px;
    background: #fafafa;
    border: solid 1px #e7e7e7;
}
.chosen-container-single,
.pro_Head .chosen-container-single,
.page-head .chosen-container-single {
	width: 100% !important;
	margin-top: 0 !important;
}
.chosen-container-single .chosen-single,
.pro_Head .chosen-container-single .chosen-single,
.page-head .chosen-container-single .chosen-single {
    height: 44px;
    border: solid 1px #E7E7E7 !important;
    width: 100% !important;
    margin-top: 0 !important;
    padding: 9px 15px !important;
    background: #fff !important;
    box-shadow: none !important;
}
.chosen-container-single .chosen-single div b,
.pro_Head .chosen-container-single .chosen-single div b,
.page-head .chosen-container-single .chosen-single div b {
        background-position: 0 13px !important;
}
.filter_Head {
	float: left;
	width: 100%;
	color: #fff;
    background: #C0C0C0;
    margin: 15px 0;
    padding: 15px;
}
.content_filter_contacts .row {
	margin: 0 !important;
}
.content_filter_contacts .page-head {
	padding: 15px !important;
	margin-right: 0 !important;
    margin-bottom: 30px;
}
.content_filter_contacts .page-head .page-title > h1 {
    font-weight: 400;
    margin: 0 15px;
}
.list_filter_SpecialtyF {
	width: 100%;
	float: left;
	padding: 5px;
}
.list_filter_SpecialtyF label {
	margin-left: 5px;
	display: inline-block;
}
.outer-chkbx div {
	margin-right: 10px !important;
	display: inline-block;
}
#ajax_table_contactlist_paginate li.paginate_button.active a {
    background: #003468 !important;
    color: #FFFFFF !important;
}

.table_All .dataTables_wrapper .dataTables_processing{
    top: 10px;
    height: 100%;
}
div#existing_loan_schedule_tab_processing i {
    position: absolute;
    top: 50%;
}

.table_All .dataTables_wrapper .dataTables_processing i {
    margin-top: 15px;
}

.outmost_ajax_table .main_select_div-btn-1, .outmost_ajax_table .search_contact {
    float: left;
    margin-right: 20px;
}
.outmost_ajax_table .search_contact input[type="button"] {
    margin-left: 15px;
}

.outmost_ajax_table .main_select_div {
    margin-top: 16px;
    float: left;
}
.portalcss_av_account select#allow_access{
    width: 100px !important;
}
div#ajax_table_contactlist_paginate li.active {
    background: inherit; 
}
div#ajax_table_contactlist_paginate .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px !important;

}
.paginate_button.next a, .paginate_button.previous a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.dataTables_paginate, .dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-top: 15px;
}
.dataTables_paginatedataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #5a6c77 !important;
    color: #fff !important;
    border: none !important;
    margin-left: 5px !important;
    cursor: pointer !important;
}
.dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.active {
    background: #5a6c77 !important;
    color: #fff !important;
}
.dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #7796a8 !important;
    color: #fff  !important;
    border: none !important;
    margin-left: 5px !important;
    cursor: pointer !important;
    height: 36px;
    line-height: 26px;
}
.dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.previous a,
.dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.next a {
    font-size: 22px;
    color: #fff !important;
}
#ajax_table_contactlist_wrapper .dataTables_paginate .paginate_button.active a {
    color: inherit !important;
    background-color: transparent !important;
}
.dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #5a6c77 !important;
}

.dataTables_paginate .pagination > li >a, .dataTables_paginate .pagination > li >span {
    padding: 0 !important;
    margin-left: 0;
    line-height: inherit;
    color: inherit !important;
    background-color: transparent !important;
    border: none !important;
}
a.ct_reset_filter_contacts i {
    font-size: 24px;
}
a.ct_reset_filter_contacts {
    color: #fff;
    display: block;
    border: solid 1px #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    float: right;
    margin-right: 10px;
}
.swal-overlay--show-modal{
    z-index: 99999;
}




.ul_Outer {
    float:  left;
    width: 100%;
}
.ul_Outer ul {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul_Outer ul li {
    display: inline-block;
    width: auto;
    border: solid 1px #E7E7E7;
    margin-bottom: 8px;
    padding: 3px 7px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 11px;
    background-color: rgba(255,255,255,0.8);
    color: #003468;
}    
#b_line h4{
    font-weight: 600;
    border-bottom: solid 1px #BCC2CB;
    padding-bottom: 7px;
    margin-bottom: 15px;
}
.ul_Outer label {
  font-weight: 600 !important;
    width: 100%;
    margin-bottom: 7px;
}



















