div#success{margin:0px 15px 0px 0px;color:#009688;padding:15px;font-weight:600;font-size:14px;background:rgba(139, 195, 74, 0.48);}@media (max-width:570px){.checker{float:left !important;width:auto !important;}
div.image_main_section{width:95%;}
div.image_main_section div{width:100%;margin:0px;padding:2px;}
.first_block_content .first_block.first{border:0px solid #e5e5e5;}
table.table.total_ecumbrances thead{width:100%;}
.modal-dialog.modal-full .modal-footer{border-top:0px solid #e5e5e5;}
}
div#error{margin:0px 15px 0px 0px;color:firebrick;padding:15px;font-weight:600;font-size:14px;background:rgba(243, 106, 90, 0.5);width: 100%;}
ul.unorder_list_menu>li{float:left;padding-left:29px;}
.menu_header_top{float:left;padding:27px;}
.load_data_inputbox{width:190px;}
label.loan_data_lable{width:100%;text-align:left;padding-left:18px;}
div.load_data_input_div{width:95%;}
div.load_data_input_div>input{width:100%;}
div.load_data_input_div>select{width:100%;}
div.form_loan_data{width:33.30%;}
.borrower_data_row>h4{padding-left:20px;font-family:sans-serif;padding-bottom:10px;}
.lender_data_row>h4{padding-left:20px;font-family:sans-serif;padding-bottom:10px;}
div.borrower_data_input_div{width:95%;}
.RE_date{float:right;}
.borrwer_border_show{border:2px solid gray;width:535px;height:178;}
label.top_left_lable{width:100%;text-align:left;padding-left:18px;}
label.lable_border_section{float:left;padding-left:18px;}
div.float_left_section{float:right;margin-right:10px;}
label.new_lable{float:left;padding-left:16px;}
input.working{margin-right:10px;border:1px solid #e5e5e5;border-radius:4px;}
input.input_size_float_textinput{height:24px;width:159px;float:right;}
.col-md-4.radio_buton_div>.radio-inline{margin:0px;padding:0px;padding-left:2px;}
.col-md-4.radio_buton_div{padding:0px;margin:0px;width:120px;float:right;}
.row.short_div_row{padding-top:6px;}
button.btn.btn-primary.borrower_save_button{float:right;margin:3px;width:78px;border-radius:0px;}
input.popup_input_100{width:120px;}
table.th_text_align_center>tbody>tr>th{text-align:center;}
select.modal_closing_s_input{width:100%;}
input.modal_closing_s_input{width:100%;}
.shape_rectangle{border-radius:0px;}
label.font_weight_dark{font-weight:700;}
div#property div.property_loan_row{padding-top:10px;}
div#property label{margin-bottom:1px;font-size:13px;font-weight:600;}
div#escrow div.property_loan_row{padding-top:10px;}
div#escrow label{margin-bottom:1px;font-size:13px;font-weight:600;}
div#title div.property_loan_row{padding-top:10px;}
div#title label{margin-bottom:1px;font-size:13px;font-weight:600;}
div#title input.btn{padding:0px;font-size:14px;height:33px;border-radius:4px;width:60px;}
.property_loan_row{padding-top:21px;padding-left:117px;}
.one_section_div{border:1px solid #e5e5e5;padding:10px;border-radius:6px;margin-top:10px;}
div.one_section_div input{height:24px;padding:0px 0px 0px 6px;font-size:13px;border-radius:0px;margin-bottom:6px;}
div.one_section_div select{height:24px;padding:0px 0px 0px 6px;font-size:13px;border-radius:0px;margin-bottom:6px;}
div.one_section_div label{margin-bottom:1px;font-size:13px;font-weight:600;}
div.one_section_div>h4{margin:0px;padding-bottom:14px;font-weight:400;}
.talimar_lender_dropdowns{padding:20px;float:left;width:30%;}
.talimar_borrower_dropdowns{float:left;padding:23px;width:30%;}
.talimar_no_dropdowns{float:right;padding:20px;}
div#loan_servicing div.modal-body{padding:0px;}
.first_block_content label{width:193px;font-size:13px;padding:0px 0px 0px 17px;}
.first_block_content input{width:150px;height:26px;border-radius:0px;}
.first_block_content select{width:185px;height:26px;border-radius:0px;padding:0px 0px 0px 2px;}
.first_block{padding:10px;padding-top:0px;max-width:485px;width:100%;float:left;margin:2px;border:1px solid #e5e5e5;border-radius:5px;margin-top:16px;}
.first_block>h4{font-weight:500;}
.loan_servicing_checkboxex{width:190px;float:left;padding:5px 5px 9px 25px;font-size:12px;}
div.div_full_width{width:100%;}
div.first_block.first{width:100%;max-width:400px;}
.row.servicing_loan_information select{width:50px;}
.row.servicing_loan_information div.col-md-4{width:55px;float:right;padding:0px 80px 0px 0px;}
.form-group.loan_service_long_div label{width:80%;}
.form-group.loan_service_medium_div label{width:39%;}
table#monthly_statement_table input{width:208px;}
table#monthly_statement_table select{width:208px;border:1px solid darkgrey;}
div.disclosures_lable label{width:276px;}
.include_edit_button{width:150px;}
.include_edit_button i{float:right;margin:-20px;}
select#servicing_agent{width:100%;font-size:12.5px;}
select#subservicing_agent{width:100%;font-size:12.5px;}
div#assigment input{width:100%;}
.form-group.extention_select_yes{padding-left:53px;}
table.total_ecumbrances input{width:100%;margin:0px 32px 0px 0px;padding:0px;}
table.table.total_ecumbrances th{width:47px;}
table.closing_s_total_section td{padding:0px 0px 5px 50px;}
table.closing_s_total_section input{width:37%;}
div#note_info_paymet_select_depend{padding-left:45px;}
div#delinquencies_cured_depend{padding-left:45px;}
div#recording_information>div.col-md-3{width:100%;}
a.btn.btn-primary.borrower_save_button{float:right;margin:3px;width:78px;border-radius:0px;}
.row.borrower_data_row label{font-weight:600;}
.row.lender_data_row label{font-weight:600;}
div#borrower_contact .row{margin:0px 40px;padding:5px 0px;}
div#borrower_contact input{height:24px;border-radius:0px;padding:0px 2px;}
div#borrower_contact select{height:24px;border-radius:0px;padding:0px 2px;}
div#borrower_contact label{padding:0px;margin:0px;}
table#borrower_datatable input{width:100%;padding:0px 0px 0px 7px;}
input#balancesheet_date{padding:0px;}
div#investor_contact .row{margin:0px 40px;padding:5px 0px;}
div#investor_contact input{height:24px;border-radius:0px;padding:0px 2px;}
div#investor_contact select{height:24px;border-radius:0px;padding:0px 2px;}
div#investor_contact label{padding:0px;margin:0px;}
div#bordered_div_section div.row{padding:5px;}
div#bordered_div_section{margin:20px 289px 20px 120px;}
div#bordered_div_section input{height:31px;}
div.short_input_section{float:right;padding:0px 14px;}
.row.borrower_data_row div{width:33%;}
.borrower_data_row{padding:11px 181px;margin:0px;}
.row.lender_data_row div{width:33%;}
.lender_data_row{padding:11px 181px;margin:0px;}
div#bordered_div_section{margin:20px 198px;}
.row.button_section_div{padding:18px 243px;}
div#vesting_section_div div{width:100%;}
.talimar_no_dropdowns select{border:1px solid #e5e5e5;width:215px;height:34px;border-radius:5px;padding:0px 0px 0px 10px;font-size:14px;}
ul.dropdown-menu.inner.selectpicker:hover{background:#4db3a4;color:white;}
li.active{background:#4db3a4;color:white;}
div.add_rows_button{padding:0px 0px 0px 15px;}
div#Draws input{width:100%;padding:0px 0px 0px 5px;}
table#table_notes>tbody>tr>td:last-child{width:80%;}
table#table_notes input{width:100%;}
.top_download button{float:right;margin:14px;border-radius:0px;}
div#loan_notes textarea{width:100%;}
input.readonly_gray{background:#ededed;border:1px solid darkgrey;}
div#Draws textarea{width:370px;height:90px;}
.checker.disabled{padding:12px 27px;}
div#assigment input#payment{width:80%;}
.row_td_print a{float:right;padding:0px 1px;}
.th_text_align_center th{text-align:center;}
.th_text_align_center td{text-align:center;}
.checker.disabled{padding:0px 0px 10px 0px;}
div#broker_capacity_explain textarea{padding:2px;margin:4px 0px 0px 0px;width:97%;}
div#broker_capacity_explain{padding:0px 17px;width:100%;}
div#n_subordination_explain textarea{padding:2px;margin:4px 0px 0px 0px;width:97%;}
div#n_subordination_explain{padding:0px 17px;width:100%;}
table#estimate_lender_table input{width:100%;padding:0px 5px;}
th#total_foot_estimate_lender{text-align:right;padding:7px 10px;}
thead.thead_dark_blue th{background:#003468;color:white;text-align:center;}
tr.thead_dark_blue{background:#003468;color:white;text-align:center;}
tfoot.foot_light_blue{background:rgba(75, 141, 248, 0.76);color:white;}
table#table_print_document td{width:47%;padding:7px 24px;}
table#table_print_document{width:100%;margin:21px;}
div.print_document_div_section div.row{padding:7px 21px;margin:21px;font-size:14px;font-weight:600;}
.print_assigment_top{width:50%;float:left;padding:2px 0px 10px 30px;}
.assigment_print_document{padding:5px 30px;}
.print_assigment_top div{padding:2px 0px;}
@media only screen and (min-width:992px) and (max-width:1199px){.form-group.extention_select_yes{padding-left:0 !important;}
.rc_class{float:left;width:100%;overflow:scroll;}
}
@media only screen and (min-width:768px) and (max-width:991px){.form-group.extention_select_yes{padding-left:0 !important;}
.borrower_data_row{padding:11px 20px;}
.row.borrower_data_row div{float:left;}
.lender_data_row{padding:11px 20px;}
.row.lender_data_row div{float:left;}
div#bordered_div_section{margin:20px 61px;}
.page-head{padding:20px;}
.rc_class{float:left;width:100%;overflow:scroll;}
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title{font-size:13px;font-weight:400;}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{padding:11px 3px;}
.property_loan_row{padding-top:21px;padding-left:0;}
}
@media only screen and (max-width:767px){.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:150px !important;}
.property_loan_row{padding-top:21px;padding-left:0;}
div#property label{margin-top:10px;}
.form-group.extention_select_yes{padding-left:0 !important;}
.row.borrower_data_row label{font-weight:normal;font-size:12px;}
.row.lender_data_row label{font-weight:normal;font-size:12px;}
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title{font-size:13px;font-weight:400;}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{padding:11px 3px;}
.borrower_data_row{padding:11px 20px;}
.row.borrower_data_row div{float:left;}
.lender_data_row{padding:11px 20px;}
.row.lender_data_row div{float:left;}
div#bordered_div_section{margin:20px 24px;}
.row.borrower_data_row div{float:left;width:100% !important;margin-bottom:14px !important;}
.row.lender_data_row div{float:left;width:100% !important;margin-bottom:14px !important;}
.row.button_section_div{padding:18px 0 0 27px !important;float:left !important;}
.page-head{padding:20px;}
.rc_class{float:left;width:100%;overflow:scroll;}
}
@media only screen and (max-width:580px){.row .radio_buton_div .radio{width:initial !important;}
.short_input_section .working{width:100%;}
input#balancesheet_date{width:100%;}
h2{font-size:18px;}
.page-head{padding:20px;}
.talimar_no_dropdowns{width:100%;}
}
@media only screen and (max-width:469px){.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100% !important;margin-bottom:10px !important;}
.page-head .page-title > h1{font-size:18px !important;}
.table thead tr th{font-size:12px;font-weight:normal;}
}
li.no-results.active{background:red;color:#4db3a4;}
input#lender_account{background:#ededed;border:1px solid darkgrey;}
div.rc_class div#DataTables_Table_0_filter{float:right;padding:0px 10px;}
.talimar_no_dropdowns div{float:left;padding:0px 2px;}
table#table_ecumbrances tfoot input{width:110px;background:#dedede;border:1px solid darkgrey;}
.row.padding_200{padding:0px 200px;}
div#bordered_div_section input{padding-left:10px;}
.bs-searchbox{width:100%;}
div#loan_view input{background:white;border:0px;padding-left:0px;}
.profile_image_section button{background:#f36a5a;border:0px;width:126px;color:white;border-radius:3px;padding:4px;}
select#property_taxes_current{width:72%;}
#assigment select.assigment_investor_select{width:160px;}
p.short_size_p{font-size:11px;font-weight:600;word-spacing:0px;letter-spacing:0px;}
table.user_updation_table{width:38%;}
table.user_updation_table td{padding:3px;}
.user_content button{padding:1px 2px;float:left;background:#4b8df8;border:0px;border-radius:3px;margin:1px;color:white;}
.user_content button.danger{background:#F44336;}
div#loan_view input{padding-left:7px;}
.row.lender_cost_link{padding:5px 0px;}
.row.lender_cost_link a{width:65%;float:right;}
div#assigment input{height:28px;border-radius:3px;border:1px solid #a5a5a5;padding-left:4px;}
div#assigment select{height:28px;border-radius:3px;border:1px solid #a5a5a5;padding-left:4px;width:100%;}
div#Encumbrances input.number_only{width:110px;}
div#Encumbrances input.lien_holder{width:250px;}
div#Encumbrances input.small_input{width:100px;}
.bcc_section span{border:1px solid #999999;padding:3px;border-radius:3px;margin:2px;float:left;}
.bcc_section{width:100%;padding:2px;}
.message_section{width:100%;padding:2px;}
.row.bcc_section{margin:10px 0px;}
.row.message_section textarea{width:100%;margin:10px;height:200px;}
table#table_ecumbrances tfoot th{text-align:right;}
table#table_assigment tfoot input{border:0px;}
table.half_table_section td{padding:5px;font-weight:600;border:1px solid #dddddd;}
table.half_table_section{width:50%;}
table.half_table_section th{text-align:center;font-size:16px;border:1px solid black;color:white;background:#444d58;}
a.user_login_detai_link{background:#fcfefd;color:#444d58;border-radius:3px;}
td.slightly_left_td div{padding:0px 28px;}
.rc_class tfoot th{text-align:left;}
.rc_class{padding:10px 0px;}
div#table_filter{float:right;padding:0px 7px;}
td.check_box_places{text-align:center;font-size:18px;font-weight:500;}
div#assigment th{font-size:12px;}
thead.thead_dark_blue tr{border:solid 1px #003468 !important;}
.page-footer{background:white;padding:20px 10px;float:left;width:100%;padding-top:0px !important;}.page-footer-inner{width:100%;float:left;text-align:center;}
thead.thead_dark_blue tr th{border:solid 1px #003468 !important;}
div#comparable_sale input{width:100%;}
div#loan_distribution tfoot th{text-align:right;padding-right:10px;}
div#loan_distribution tr input{width:100%;}
.image_main_section{width:23%;float:left;padding:10px;margin:10px;border:2px solid #e5e5e5;}
.image_main_section div{width:100%;padding:5px;}
.images_part img{width:100%;height:175px;}
.property_images_last a{float:right;margin:3px;}
.property_images_last button{float:right;margin:3px;}
.property_images_last{width:100%;}
.image_main_section.red-border{border:2px solid red;}
.image_main_section.orange-border{border:2px solid #ff9800;}
.theme-background{background:#003468;color:white;}
.image_description input[type="file"]{width:100%;color:white;background:#003468;border:2px solid #003468;}
.document_iframe_part h6{text-align:center;}
.document_iframe_part a{margin:0px 6px;}
div#lender_loan_document div.modal-body{padding:0px;}
.album_tab{padding:10px;width:24%;float:left;height:300px;}
div.album_images img{width:100%;height:100%;}
.album_images.album_database{height:300px;background-repeat:no-repeat;background-image:url(../images/blank_folder.png);background-size:100%;}
.album_images.album_database p{color:blue;text-align:center;font-size:18px;padding:110px 0px;}
table#table_comparable_sale tfoot th{text-align:left;}
.assigment_print_document.executive_summary{width:50%;float:left;}
.row.borrower_data_row.borrower_textarea_div textarea{width:100%;}
.row.borrower_data_row.borrower_textarea_div div{width:100%;}
.row.lender_data_row.lender_textarea_div textarea{width:100%;}
.row.lender_data_row.borrower_lender_div div{width:100%;}
.image_description input{width:90%;float:left;}
.image_description a.fa-trash-o{padding:2px 2px;}
.modal-footer span{float:left;}
div.row.lender_cost_link div.col-md-6{width:55%;}
div.lender_information_div{border-top:1px solid #e5e5e5;}
div.new_contact_div{border-top:1px solid #e5e5e5;}
div#additional_broker_data textarea{width:103%;height:170px;margin:0px;}
a#additional_broker_data_button{width:100%;}
div#Draws tfoot input{border:0px;}
.row.ecrw_select_div{padding-top:20px;}
.row.lender_data_row label{padding:0px;margin:0px;}
.row.btn_addnew_contact{margin:3px 2px;}
.rc_class table td{text-align:left;}
a.autofill_lender_data span{background:green;color:white;padding:9px;font-size:15px;border-radius:4px;}
.autofill_link.mail_payment_distribution_depend{padding:28px 15px;}

input#pre_paid_per_deim {
    background: rgba(128, 128, 128, 0.14);
    border: 1px solid darkgrey;
}
div#closing_statement tfoot td input {
    width: 100%;
}