/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/




.change_password {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.pass_change {
    float: left;
    padding: 40px;
	max-width:500px;
    background: white;
}


.main_class span {
    margin-right: 12px;
}


.main_class input[type="text"] {
    /* box-shadow: 2px 2px 2px red; */
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    box-shadow: inset 1px 1px 2px 0px rgba(5, 5, 5, 0.45);
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    font-weight: normal;
    line-height: 50px;
}
.main_class {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

body div#display_class {
    display: block;
}

.pass_change {
	display:none;
}

.alert.alert-danger.text-center {
    float: left;
}