.rc_class td{
	text-align:left;
}
#LoadingImage{
	position : absolute;
	top:15%;
	left:30%;
	display: block;
}
.red{
	color:red;
}
tr.foot_light_blue {
    background: rgba(75, 141, 248, 0.76);
    color: white;
}
.spin_load_ajax {
    width: 100%;
    float: left;
    text-align: center;
    background: rgba(0,0,0,.5);
    height: 150px;
    opacity: .6;
}
.spin_load_ajax i {
    font-size: 40px;
    margin-top: 5%;
}