.rc_class{
	padding:0px;
}
.rc_class td{
	text-align:left;
}
#LoadingImage{
	position : absolute;
	top:15%;
	left:30%;
	display: block;
}
.red{

color:red;
}

tr.foot_light_blue {
    background: rgba(75, 141, 248, 0.76);
    color: white;
}
.span_load_dash i {
    position: absolute;
    top: 50%;
    margin-top: 20%;
}
.span_load_dash {
    text-align: center;
    display: inline-block;
    width: 100%;
}