input.btn.blue.aa {
		  
    margin-top: 14px;
    border-radius: 0px;
   
}
.talimar_no_dropdowns div {

    padding: 0px 2px;
    font-size: 14px!important;
}

.talimar_no_dropdowns {
    padding-left: 0px!important;
}
#table_wrapper>.row>.col-md-6.col-sm-12 {
    
    padding-left: 0px;
}
.form-control[disabled] {
    cursor: not-allowed;
    background-color: #dddddd;
}