h4.deed_heading {
    background-color: #ececec;
    padding: 12px;
}
.remove_image_profile {
    position: relative;
    top: 15px;
    padding: 2px 9px 3px 8px;
    font-weight: bold;
    right: -67px;
    border-radius: 50%;
    background-color: #3379b5;
    border: 2px solid #ccc;
    color: #FFF;
}
span.add_image_optionP {
    position: relative;
    padding: 2px 9px 3px 8px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #3379b5;
    border: 2px solid #ccc;
    color: #FFF;
    z-index: 999;
    right: -54px;
    top: -27px;
}
.search-engine-int{
    padding: 10px 0px 5px 12px !important;
}
label.upload_image_set_lab {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.form_set_control_file{
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.upload_image_set {
    position: relative;
    top: -80px;
    padding: 2px 6px 3px 6px;
    display: none;
    z-index: 9999;
}
.loading_spin_image{
    display: none;
}

.loading_image img {
    height: 16px;
}
.btn-primary {
    color: #fff;
    background-color: #3379b5 !important;
    border-color: #3379b5 !important;
}
.modal-dialog.modals-default .modal-content, .modal-dialog.modal-sm .modal-content, .modal-dialog.modal-large .modal-content {
    border-radius: 0px;
    padding: 30px 24px;
}

.addmar {
    margin-top: 8px;
}

.modal-dialog.modal-sm {
    width: 400px;
    margin-top: 110px;
}
.Notificationsettings_ct .checkbox_input label {
    float: left;
    text-align: left;
}
.Notificationsettings_ct .checkbox_input input {
    float: left !important;
    text-align: left;
    width: 24px;
    line-height: 12px !important;
    height: 24px;
    margin-right: 10px;
}
.modal_my_profile_setting .tabsWrap.group_link_actions a {
    max-width: 33.33%;
}
.Notificationsettings_ct .checkbox_input span {
    float: left;
    line-height: 30px;
}
.modal_my_profile_setting .modal-content {
    padding: 28px 33px 27px;
    box-shadow: none;
    border-color: #8898AA7F;
    border-radius: 10px;
}
.modal-header-setting h4 {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 33px;
    color: #000;
}
.tabsWrap {
    border-bottom: 1px solid #dee2e6;
}
.tabsWrap .tabLink {
    padding-left: 0;
    padding-right: 0;
    margin-right: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #A0A0A0;
    font-weight: 400;
    display: inline-block;
    position: relative;
}
.tabsWrap .tabLink.group_setting_active {
    font-weight: 600;
    color: #000;
}
.tabsWrap .tabLink.group_setting_active:after {
    content: '';
    height: 2px;
    width: 100px;
    background-color: #212636;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}
.row {
     
    margin-right: -15px;
    margin-left: -15px;
}
.tabsContent {
    padding-top: 40px;
}
label {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    color: #000;
    line-height: 13px;
}
.form-control {
    color: #000000;
    width: 100%;
    height: 55px;
    font-size: 14px;
    line-height: 13px;
    border-radius: 5px;
    padding: 10px 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #2C28281C;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:active, .form-control:focus{
    border-color: #3C4357 ;
    outline: 0;
    box-shadow: none;
}
.theme_btn {
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 15px 16px;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    min-width: 200px;
    border-radius: 5px;
}
 

.theme_primary {
    color: #fff;
    background-color: #3C4357;
    border-color: #3C4357;
}
.theme_primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.mt45 {
	margin-top: 45px;
}
.mt25 {
    margin-top: 25px;
}
/* The checkbox */
.checkCont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.checkCont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.themeCheckmark {
 position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #e2e5ec;
    transition: all .4s ease-in-out;
}

.checkCont:hover input ~ .themeCheckmark {
  background-color: #3C4357;
    border-color: #3C4357;
}
.checkCont input:checked ~ .themeCheckmark {
 background-color: #3C4357;
    border-color: #3C4357;
}

.themeCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkCont input:checked ~ .themeCheckmark:after {
  display: block;
}
.checkCont .themeCheckmark:after {
      left: 8px;
    top: 4px;
    width: 7px;
    height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkboxYgap {
    margin-bottom: 25px;
    margin-top: 20px;
}
select.cstSelect {
    background-image: url("../../../assets/profile/icn_select_drop.svg");
    background-repeat: no-repeat;
    background-position: 96.2%;
    background-size: 12px;
    -webkit-appearance: none;
}
.mb20 {
    margin-bottom: 20px;
}
.checkboxInputWraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.block_active_load {
    display: inline-block !important;
}
label.upload_image_set_lab img {
    width: 100%;
}
@media (max-width: 991px) {
    .modal_my_profile_setting .tabsWrap.group_link_actions a{
        margin-right: 15px;
    }
}

@media (max-width: 767px) {

.modal_my_profile_setting .tabsWrap.group_link_actions a {
    margin-right: 0;
    float: left;
}

.tabsWrap {
    float: left;
    border-bottom: 0;
    width: 100%;
}
.tabsWrap .tabLink {
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    display: block;
}
.modal_my_profile_setting .modal-content {
    padding: 20px 16px 20px;
    
}
.modal-header-setting h4 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
     
}
.tabsContent {
    padding-top: 25px;
}
.mt25 {
    margin-top: 20px;
}
.mt45 {
    margin-top: 30px;
}
}

@media (max-width: 551px) {
    .modal_my_profile_setting .tabsWrap.group_link_actions a {
        max-width: 100%;
        border-bottom: 1px solid #999 !important;
    }
}