table#table_loan_boarding_data tr th, 
table#table_loan_boarding_data tr td {
    text-align: left;
}
button.btn.btn-primary.close_ServicerCharges {
    position: relative;
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}