tr.loading-gif td {
    	text-align: center !important;
	}

tr.loading-gif img {
    max-width: 100px;
}
.section_executive_div_inputs {
    float: right;
    font-size: 10.5px;
}
table#td_width_same td {
    width: 25%;
}

a.email_script_padding {
    margin: 10px 0px 0px 0px;
}
	.control-label {
    margin-top: 10px;
}

#checkermargin .checker {
    margin-bottom: 8px;
}

#custom_add_extension div.checker {
    margin-right: 0;
    margin-top: 8px !important;
}

.red_color
{

color:red;
}

.disabled_li{

opacity:0.8; 	
}

.black_color{
color:black;

}

.disabled_reserve {
    
    opacity:0.8;         
}

.red
{
color:red;


}
.green
{
color:green;

}
.col-md-6.b.pull-right {
	margin-top:10px;
}


select.ass option.black{
    font-weight:bold;
}

#escrow .form-control[readonly] {
    background-color: #e9e9e9 !important;
}
#title .form-control[readonly] {
    background-color: #e9e9e9 !important;
}

#marketing_option .form-control[readonly] {
    background-color: #e9e9e9 !important;
}
#payment_gurrantor .form-control[readonly] {
    background-color: #e9e9e9 !important;
}

.disabled_li_new {
    pointer-events:none; 
    opacity:0.9;         
}

	a.del_fro {
    
    /* margin-top: 9px; */
    position: relative;
    /* margin-left: -3px; */
    padding-left: -5px;
    top: 9px;
    left: -19px;
}

#LoanBoarding .custommy{
    padding: 8px;
    background: #efefef;

}

.checklistsection{

	background: #efefef;
    padding: 6px;
    font-weight: 500;
}

#affiliated_parties .col-md-3, .col-md-2, .col-md-1{

	padding-right: 5px !important;
	padding-left: 5px !important; 
}



#lender_approval_view .rowapp_mb {

	margin-top: 14px !important;
}

#assigment_main .col-md-5 > h4 {
    background-color: #e8e8e8;
    height: 30px;
    padding: 4px;
}

.c>tbody>tr>td {
 
    border-top:none;
}

#ct_Documentsadd{
    float: left;
    width: 100%;
}
table#table_print_document td {
    width: 47%;
    padding: 4px 24px 0px 24px;
}
div#FundingEntitys_chosen{
    width: 100% !important;
}
.print_document_div_section>.row>.col-sm-6 {
    padding-left: 0px;
    padding-bottom: 0px;
}

div.print_document_div_section div.row {
    padding: 7px 21px;
    margin: 0px;
}
table#table_print_document {
    width: 100%;
    margin: 0px;
}
.text-align-padding-left{

    padding-left: 24px!important;
}

#affiliated_parties .chosen-drop {
    width: 200px !important;
    margin-left: 0px !important;
}

#affiliated_parties .chosen-container.chosen-container-single {
    width: 200px !important;
}

.chosen-drop {
    width: 253px !important;
    margin-left: 0px !important;
}   
.row.borrower_data_row div {
    width: 96% !important;
}
.chosen-container{
    display: block !important;
}
.chosen-container.chosen-container-single {
    width: 253px !important;
}
.chosen-container-single .chosen-single {
    padding: 4px 0px 26px 6px !important;
    border-radius: 4px !important;
    border: 1px solid #e1e1e1 !important;
}


