div#promissory_note i.fa.fa-trash {
    font-size: 23px;
    margin-top: 20px;
}
.load_span_calling {
    color: #FFF !important;
}
div#lender_approval_view input[type="checkbox"] {
    width: 19px;
    height: 19px;
}
div#assigment_main input[type="checkbox"] {
    width: 19px;
    height: 19px;
    margin-right: 5px;
    position: relative;
    padding-top: 0 !important;
    margin-top: 0px;
}
div#assigment input.footer_checkbox {
    width: 19px;
    height: 19px;
}
.chosen-container.chosen-container-multi {
    width: 117%!important;
}
div#modal_closing_statement_new11 input[type="checkbox"],
#modal_diligence_materials input[type="checkbox"], 
div#modal_closing_statement_new11 input[type="radio"] {
    width: 19px;
    height: 19px;
    margin-right: 5px;
    margin-left: 5px;
}
button.btn.blue.d {
    margin: 11px 57px 0px;
}

#loan_terms .chosen-container.chosen-container-single {
    width: 214px !important;
}

#loan_terms .chosen-drop {

    width: 214px !important;
    margin-left: 0px !important;
}
div#test input[type="checkbox"] {
    width: 19px !important;
    height: 19px !important;
}
.closing_statement_confirmOverlay{
         width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background:url('ie.png');
        background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
        z-index:100000;
    }
    #closing_statement_confirmBox{
        background:url('body_bg.jpg') repeat-x left bottom #eeeeee;
        width:650px;
        position:fixed;
        left:50%;
        top:85%;
        border-radius: 10px;
        margin:-130px 0 0 -230px;
        border: 1px solid rgba(252, 247, 247, 0.6)

        -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        padding : 10px;
    }


    #closing_statement_confirmBox h4,
    #closing_statement_confirmBox p{
        
        font:16px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
        color:#666;
        text-align:left;
    }

    #closing_statement_confirmBox h4{
        letter-spacing:0.3px;
        color:#666;
        border-bottom: 1px solid #494b4d;
    }

    #closing_statement_confirmBox p{
         font-size:16px;
        line-height:1.4;
        padding-top: 8px;
    }
    
    #assignment_confirmOverlay{
        
         width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background:url('ie.png');
        background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
        z-index:100000;
    }
    #assignment_confirmBox{
        background:url('body_bg.jpg') repeat-x left bottom #eeeeee;
        width:600px;
        position:fixed;
        left:50%;
        top:75%;
        border-radius: 10px;
        margin:-130px 0 0 -230px;
        border: 1px solid rgba(252, 247, 247, 0.6)

        -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
        padding : 10px;
    }


    #assignment_confirmBox h4,
    #assignment_confirmBox p{
        
        font:16px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
        color:#666;
        text-align:left;
    }

    #assignment_confirmBox h4{
        letter-spacing:0.3px;
        color:#666;
        border-bottom: 1px solid #494b4d;
    }

    #assignment_confirmBox p{
         font-size:16px;
        line-height:1.4;
        padding-top: 8px;
    }
    
    div.checker span{
        background-image : none !important;
    }
    .lien_center{
        text-align:center !important;
    }
    .lien_center_tr td{
        text-align:center !important;
        
    }
    #closing_statement_new div.checker{
        
        margin-left: 20px !important;
    }
    .loan_servicing_checkboxex.div_full_width{
        font-size:13px !important ;
    }
    .first_block_contentt {
        float: left;
        border-right: 1px solid #e8e8e8;
        width: 70%;
    }
    .first_block.second {
        border: none !important;
        float: right;
    }
    div.first_block.firstt {
        width: 100%;
        max-width: 480px;
        border:none !important;
        
    }
    div.disclosures_lable label {
        width: 345px !important;
    }
    .first_block > h4 {
        background-color: #e8e8e8;
        height: 30px;
        
        padding: 4px;
    }
    .second_block_content {

        float: left;
        width: 24%;
        
    }
    .second_block_content .first_block {

        border:none !important;
    }
    .loan_servicing_checkboxex{
        font-size:13px !important;
    }
    .document_iframe_part {
        height:200px;
        overflow:auto;
    }
    #loan_doc_table{
        width:80% !important;
    }

    #save_doc_table {
        width: 100%;
    }

    #save_doc_table tr td {
       padding-bottom: 10px;
       padding-left: 10px;
    }
    
    .pdf_thumbnail{
        width:20%;
        display:none;
        height:20%;
    }
    a.btn.btn-primary.gayab {
    /* padding-bottom: 11px; */
    margin-bottom: 16px;
}
label.col-md-8 {
    font-weight: 400!important;
    font-size: 14px;
}
label.col-md-6 {
    font-weight: 400!important;
    font-size: 14px;
}
td.ct_font_bold{
  text-align: left !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

div#print_loan_document input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0px;
}
.tbl_heading_bak{
    background: #3074bf;
    color: #ffffff;
}
.diligence_materials_heading{
    display: inline-block;
    vertical-align: bottom;
}
